<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

        <!-- 모바일 웹 페이지 설정 -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico"/>
        <link
            rel="apple-touch-icon-precomposed"
            href="assets/ico/apple-touch-icon-144-precomposed.png"/>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>

        <!-- noto sans 웹 폰트 적용 -->
        <link rel="stylesheet" type="text/css" href="assets/css/font.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/nav.css"/>

        <!-- 반응형 웹을 지원하지 않을 경우 -->
        <!-- <link rel="stylesheet" href="assets/css/non-responsive.css" /> -->

        <!-- IE8 이하 버전 지원 -->
        <!--[if lt IE 9]> <script type="text/javascript"
        src="assets/js/html5shiv.js"></script> <script type="text/javascript"
        src="assets/js/respond.min.js"></script> <![endif]-->

        <!-- IE10 반응형 웹 버그 보완 -->
        <!--[if gt IE 9]> <link rel="stylesheet" type="text/css"
        href="assets/css/ie10.css" /> <script type="text/javascript"
        src="assets/js/ie10.js"></script> <![endif]-->
        <title>개인정보 취급방침 - 사이다마켓</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    </head>

    <body>
        <!-- nav 시작 -->
        <header></header>
        <!-- // nav 끝 -->

        <!-- content 시작 -->
        <section>
            <!-- Item 영역 -->
            <div class="container">
                <h2 class="text-center">개인정보 취급방침</h2>

                <div class="rule_sub_title col-md-8 col-md-offset-2">
                    <h5>[사이다마켓 개인정보 취급방침]</h5>
                </div>
                <div class="rule_content col-md-8 col-md-offset-2">
                    <dl> <dt>1. 개인정보 수집 및 이용에 대한 고지</dt>
                        <dd>(주)사이다마켓'(이하 '회사'라 함)이 운영하는 인터넷사이트 및 모바일 애플리케이션(이하 '사이다마켓'이라 함)에서 제공하는 전자상거래 관련 서비스 및 기타 서비스(이하 '서비스'라 함)는 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보처리방침을 정하여 '사이다마켓'에 회원가입한 이용자(이하 '회원'이라 함) 권익 보호에 최선을 다하고 있습니다. 이는 '회원'의 기본적인 사생활 비밀과 자유 및 통신비밀을 보장하고 불법적인 도청정보 유출로 인한 인권피해가 발생하지 않도록 하고자 마련된 것입니다.</dd>
                    </dl>
                    <dl> <dt>2. 개인정보의 수집항목 및 이용목적</dt>
                        <dd>
                            <ul>
                                <li>① <span class="num">'회사'가 개인정보를 수집하는 목적은 '회원'의 개인식별과 '서비스' 이용의사를 확인하여 최적화되고 맞춤화된 '서비스'를 제공하기 위함입니다. '회사'는 최초 회원가입 시 '서비스'의 기본적 기능들을 수행하기 위해 필요한 최소한의 정보만을 수집하고 있으며 '회사'가 제공하는 '서비스' 이용에 따른 대금결제, 물품배송 및 환불 등에 필요한 정보를 추가로 수집할 수 있습니다.</span> </li>
                                <li>② <span class="num">'회원'이 제공한 모든 정보는 상기 목적에 필요한 용도 이외로는 사용되지 않으며, 수집정보의 범위나 사용목적, 용도가 변경될 시에는 반드시 '회원'에게 사전 동의를 구합니다. </span> </li>
                                <li>③ <span class="num">'회사'는 수집한 개인정보를 다음과 같은 목적으로 활용할 수 있습니다. '회사'는 '회원'의 주민번호를 원칙적으로 수집 또는 이용하지 않으며, 신용평가사에서 제공하는 주민등록번호 대체수단(아이핀 등)을 활용하여 실명인증을 합니다. 다만, 전자상거래 등에서의 소비자보호에 관한 법률, 국세기본법, 전자금융거래법 등 관계법령에 따라 주민등록번호 및 은행계좌번호의 수집 및 보관이 불가피한 경우에는 '이용자'에게 고지하여 해당 정보를 수집할 수 있습니다.</span> </li>
                                <li>
                                    <table summary="개인정보 수집 및 이용에 대한 고지사항에 대한 설명">
                                        <caption>개인정보 수집 및 이용에 대한 고지사항</caption>
                                        <colgroup>
                                            <col width="100">
                                            <col width="373">
                                            <col width="373">
                                            <col width="168">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <td class="thead">구분</td>
                                                <td class="thead">수집하는 개인정보 항목</td>
                                                <td class="thead">수집 및 이용목적</td>
                                                <td class="thead">보유 및 이용기간</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="5">회원</td>
                                                <td>휴대폰번호, 이메일, ID, 비밀번호</td>
                                                <td>회원 가입 시 개인식별, 부정 이용 방지</td>
                                                <td rowspan="11">수집 및 이용목적 달성시 지체 없이 파기(단, 예외적 사유시 명시한 기간 동안 보존)</td>
                                            </tr>
                                            <tr>
                                                <td>휴대폰번호, 이메일, ID, 비밀번호, 이름, 닉네임, 프로필사진, 성별, 생일, 연령대</td>
                                                <td>본인여부 확인, 본인의사 확인, 계약이행 및 약관변경 등의 고지를 위한 연락, 고객불만처리</td>
                                            </tr>
                                            <tr>
                                                <td>사이다톡 서비스에서 자동수집되는 정보들(휴대폰번호, 주소, 계좌번호 등)</td>
                                                <td>더치트 부정이용내역 조회, 사기 및 분쟁의 사전 예방 또는 사후 조치</td>
                                            </tr>
                                            <tr>
                                                <td>사이다톡 서비스 채팅 내역 일부</td>
                                                <td>법령/정부기관 요청시 제공, 대화 당사자 일방의 신고 및 사전 동의시 제재근거</td>
                                            </tr>
                                            <tr>
                                                <td>서비스 이용 과정에서 자동수집되는 정보들(단말기식별번호, IP, 쿠키, 방문일시, 서비스 이용기록, 불량이용기록 등)</td>
                                                <td>부정 이용 방지, 비인가 사용 방지, 신규서비스 개발 및 맞춤서비스 제공</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">구매회원/<br>판매회원 </td>
                                                <td>계좌번호, 아이핀(I-PIN)</td>
                                                <td>거래신뢰도 확보를 위한 서비스 제공(본인인증 식별 , 본인여부 , 연령 확인 등), 부정 이용 방지</td>
                                            </tr>
                                            <tr>
                                                <td>구매자정보, 구매/취소/반품/교환/환불 정보, 수령인정보, 송장정보, 결제정보(계좌번호/신용카드),현금영수증정보</td>
                                                <td>사이다페이 배송서비스, 대금결제서비스 및 물품대금 송금서비스 제공, 부정 이용 방지</td>
                                            </tr>
                                            <tr>
                                                <td>개인고유통관부호</td>
                                                <td>해외 직배송 상품 통관업무처리</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">판매회원</td>
                                                <td>판매자정보(이름, 연락처, 지역 등), 차량정보(차량번호, 차대번호 등)</td>
                                                <td>등록차량의 사실 여부 확인, 차량조회서비스 제공, 경매서비스 제공</td>
                                            </tr>
                                            <tr>
                                                <td>주민등록번호, 사업자등록번호</td>
                                                <td>부가가치세법 제32조에 따른 세금계산서 등의 발행</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>④ <span class="num">'회사'는 인터넷사이트 및 모바일 애플리케이션, 모바일 웹페이지, 서면, 전화, 팩스, 고객센터 문의하기, 이벤트 응모 등의 형태로 개인 정보를 수집합니다. 개인정보는 '서비스' 가입이나 사용 중 '이용자'의 자발적 제공을 통한 수집되거나 '회사'가 제공하는 '서비스' 프로그램을 실행 또는 사용함으로써 자동으로 수집됩니다. </span></li>
                                <li>⑤ <span class="num">'회사'는 '이용자'의 개인정보를 수집할 경우 법령상 근거가 없는 한 반드시 '이용자'의 동의를 얻어 수집하며, '이용자'의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적 성향, 범죄기록, 건강상태 등의 정보는 '이용자'의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.</span></li>
                                <li>⑥ <span class="num">'회사'는 개인정보를 수집함에 있어, '서비스' 제공에 필요한 최소한의 개인정보를 ‘필수동의 항목’으로, 그 외 개인정보는 ‘선택동의 항목’으로 구분하여 이에 대해 개별적으로 동의할 수 있는 절차를 마련합니다. '회사'는 '회원'이 필요한 최소한의 개인정보 이외의 개인정보를 제공하지 아니한다는 이유로 그 '서비스'의 제공을 거부하지 않습니다.</span></li>
                                <li>⑦ <span class="num">'회사'는 사이다톡 '서비스'를 이용하는 '회원'로부터 사전에 자동수집 동의를 획득한 정보들(휴대폰번호,주소,계좌번호 등)을 사기 및 분쟁의 사전 예방 또는 사후 조치를 위하여 과거 부정 이용기록이 있거나 귀책 사유 있는 '회원'에 대한 제재를 가할 근거로 이용할 수 있습니다.</span></li>
                                <li>⑧ <span class="num">'회사'는 사이다톡 '서비스'를 이용하는 '회원'간의 채팅 내역의 일부를 법령 또는 정부기관의 요청시 제공할 수 있으며, 대화 당사자 일방의 신고 및 사전 동의가 있는 경우 채팅 내역의 일부를 열람하여 귀책 사유 있는 '회원'에게 제재를 가할 근거로 이용할 수 있습니다.</span></li>
                            </ul>
                        </dd> <dt>3. 개인정보의 제3자 제공 및 목적</dt>
                        <dd>
                            <ul>
                                <li>원칙적으로 '회사'는 '회원'의 개인정보를 '개인정보의 수집항목 및 이용목적'에서 고지한 범위내에서 사용하며, '회원'의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 '회원'의 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</li>
                                <li>① <span class="num">'회원'이 사전에 공개 또는 제3자 제공에 동의한 경우</span></li>
                                <li>② <span class="num">'사이다마켓'의 이용약관을 위배하거나 '사이다마켓'의 '서비스'를 이용하여 타인에게 피해를 주거나 미풍양속을 해치는 위법행위를 한 사람 등에게 법적인 조치를 취하기 위해 개인 정보를 공개해야 한다고 판단되는 경우</span></li>
                                <li>③ <span class="num">법령의 규정에 의하거나, 수사상의 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구 있는 경우</span></li>
                                <li>④ <span class="num">요금 정산을 위하여 필요한 경우</span></li>
                                <li>⑤ <span class="num">'회사'는 '회원'의 거래 이행을 위하여 필요한 경우, '회원'의 동의를 얻는 등 적법한 절차를 통하여 아래와 같이 개인정보를 제3자에게 제공할 수 있습니다.</span></li>
                            </ul> <br>
                            <table summary="개인정보의 제3자 제공 및 목적에 대한 설명">
                                <caption>개인정보의 제3자 제공 및 목적</caption>
                                <colgroup>
                                    <col width="100">
                                    <col width="373">
                                    <col width="373">
                                    <col width="168">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td class="thead">구분</td>
                                        <td class="thead">항목</td>
                                        <td class="thead">목적</td>
                                        <td class="thead">보유 및 이용기간</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>개인판매자회원</td>
                                        <td>아이템 구매자정보(성명, 휴대폰번호 등) 아이템 구매정보, 배송지 주소 등</td>
                                        <td>본인의사 확인, 고객상담 및 불만처리, 아이템 배송, 경품 배송 통신판매계약의 이행 및 처리</td>
                                        <td rowspan="3">수집 및 이용목적 달성시 지체 없이 파기(단, 예외적 사유시 명시한 기간 동안 보존)</td>
                                    </tr>
                                    <tr>
                                        <td>전문판매자회원</td>
                                        <td>아이템 구매자정보(아이디, 성명, 휴대폰번호 등) 아이템 구매정보, 배송지 주소 등</td>
                                        <td>상품 및 경품 배송, 제품 설치, 반품, 환불, 고객상담 등 통신판매계약의 이행 및 처리</td>
                                    </tr>
                                    <tr>
                                        <td>관할 세무서</td>
                                        <td>주문자 인적사항(주소, 성명, 생년월일), 주문일자, 상품명, 수량, 주문금액 등</td>
                                        <td>국세청 고시에 따른 주류 통신판매 주문에 대한 분기별 명세 세무서 제공</td>
                                        <td>최대 4개월</td>
                                    </tr>
                                </tbody>
                            </table> <br>
                            <ul>
                                <li>⑥ <span class="num">'회원'은 개인정보의 제3자 제공에 대하여 동의를 하지 않을 수 있고, 언제든지 제3자 제공 동의를 철회할 수 있습니다. 동의를 거부하시는 경우에도 회원가입서비스는 이용하실 수 있으나, 제 3자 제공에 기반한 관련 서비스의 이용/제공이 제한될 수 있습니다.</span></li>
                            </ul>
                        </dd> <dt>4. 개인정보의 취급 위탁</dt>
                        <dd>
                            <ul>
                                <li>① <span class="num">'회사'는 원활하고 향상된 서비스를 위하여 개인정보 취급을 타인에게 위탁할 수 있습니다.</span></li>
                                <li>② <span class="num">'회사'는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계법령에 따라 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있습니다. 또한 위탁처리하는 정보는 원활한 '서비스'를 제공하기 위하여 필요한 최소한의 정보에 국한됩니다.</span></li>
                                <li>
                                    <table summary="개인정보의 취급 위탁에 대한 설명">
                                        <caption>개인정보의 취급 위탁</caption>
                                        <colgroup>
                                            <col width="373">
                                            <col width="373">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <td class="thead">항목</td>
                                                <td class="thead">목적</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>㈜케이티엠하우스</td>
                                                <td>모바일쿠폰서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜비바리퍼블리카</td>
                                                <td>토스결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>SK브로드밴드㈜</td>
                                                <td>고객상담 업무처리 시스템 운영</td>
                                            </tr>
                                            <tr>
                                                <td>㈜드림베이, 큐오피스</td>
                                                <td>고객상담 업무처리</td>
                                            </tr>
                                            <tr>
                                                <td>㈜갤럭시아커뮤니케이션즈</td>
                                                <td>사이다페이 편의점결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>(주)줌마</td>
                                                <td>판매자 개인 방문택배 서비스</td>
                                            </tr>
                                            <tr>
                                                <td>(주)카카오페이</td>
                                                <td>휴대폰인증, 실명인증, 계좌인증, 본인확인서비스, 사이다페이 결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>엔에이치엔엔터테인먼트㈜</td>
                                                <td>휴대폰인증, 실명인증, 계좌인증, 본인확인서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜카일이삼제스퍼</td>
                                                <td>판매보장서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜브로드씨엔에스</td>
                                                <td>전화 ARS연결서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜오토업컴퍼니</td>
                                                <td>차량번호 조회서비스,차량 해외판매 중계서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜굿스플로</td>
                                                <td>판매자 개인 택배/용달/퀵 서비스, 운송장추적서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜고고밴코리아</td>
                                                <td>판매자 개인 용달/퀵 서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜파슬미디어</td>
                                                <td>판매자 개인 택배/용달/퀵 서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜BGFpost</td>
                                                <td>판매자 개인 택배 서비스, 판매자 개인 방문택배 서비스</td>
                                            </tr>
                                            <tr>
                                                <td>CVSnet㈜</td>
                                                <td>판매자 개인 택배 서비스</td>
                                            </tr>
                                            <tr>
                                                <td>세틀뱅크㈜</td>
                                                <td>휴대폰인증, 실명인증, 계좌인증, 본인확인서비스, 사이다페이 결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜LG U+</td>
                                                <td>휴대폰인증, 실명인증, 계좌인증, 본인확인서비스, 사이다페이 결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜다날</td>
                                                <td>본인확인서비스</td>
                                            </tr>
                                            <tr>
                                                <td>㈜KT</td>
                                                <td>본인확인서비스, KT다모아포인트 결제서비스</td>
                                            </tr>
                                            <tr>
                                                <td>SK텔레콤㈜</td>
                                                <td>본인확인서비스</td>
                                            </tr>
                                            <tr>
                                                <td>케이티하이텔㈜</td>
                                                <td>휴대폰인증</td>
                                            </tr>
                                            <tr>
                                                <td>㈜다우기술</td>
                                                <td>휴대폰인증</td>
                                            </tr>
                                            <tr>
                                                <td>NICE신용평가정보㈜</td>
                                                <td>실명인증, 아이핀(I-PIN) 중복가입확인&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>더치트㈜</td>
                                                <td>사기피해사례 검색, 금융사기 방지서비스</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>③ <span class="num">'회사'는 정보통신서비스의 제공에 관한 계약을 이행하고 이용자 편의 증진 등을 위하여 필요한 경우 개인정보처리방침에 따라 개인정보 처리위탁을 받는 자와 개인정보 처리위탁을 하는 업무의 내용을 공개함으로써 고지절차와 동의절차를 거치지 아니하고 개인정보 처리를 타인에게 위탁할 수 있습니다.</span></li>
                            </ul>
                        </dd> <dt>5. 개인정보 보유기간 및 이용기간</dt>
                        <dd>
                            <ul>
                                <li>① <span class="num">'회사'는 '회원'의 개인정보를 원칙적으로 고지 및 약정한 기간 동안 보유 및 이용하며 개인정보의 수집 및 이용목적이 달성되거나 '이용자'의 파기 요청이 있는 경우 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</span></li>
                                <li>
                                    <table summary="개인정보 보유기간 및 이용기간에 대한 설명">
                                        <caption>개인정보 보유기간 및 이용기간</caption>
                                        <colgroup>
                                            <col width="168">
                                            <col width="330">
                                            <col width="330">
                                            <col width="118">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <td class="thead">구분</td>
                                                <td class="thead">항목</td>
                                                <td class="thead">목적</td>
                                                <td class="thead">보유 및 이용기간</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">국세기본법</td>
                                                <td>국세 증빙자료 등</td>
                                                <td>국세 부과 제척기간 계산</td>
                                                <td>10년</td>
                                            </tr>
                                            <tr>
                                                <td>과세표준과 세액의 신고자료 등</td>
                                                <td>국세징수권 등 소멸시효 계산</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td>부가가치세법</td>
                                                <td>부가가치세의 과세표준과 세액의 신고자료 등</td>
                                                <td>장부, 세금계산서, 수입세금계산서, 영수증 등</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td>전자금융거래법</td>
                                                <td>전자금융거래에 관한 기록, 상대방에 관한 정보 등</td>
                                                <td>전자금융거래기록 확인</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">전자상거래 등에서의 소비자보호에 관한 법률</td>
                                                <td>소비자 식별정보, 계약/청약철회 기록 등</td>
                                                <td>계약 또는 청약철회 등에 관한 기록</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td>소비자 식별정보, 계약/청약철회 기록 등</td>
                                                <td>대금결제 및 재화 등의 공급에 관한 기록</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td>소비자 식별정보, 분쟁처리 기록 등</td>
                                                <td>소비자의 불만 또는 분쟁처리에 관한 기록</td>
                                                <td>3년</td>
                                            </tr>
                                            <tr>
                                                <td>통신비밀보호법</td>
                                                <td>로그기록, IP 등</td>
                                                <td>법원의 영장을 받아 수사기관 요청시 제공</td>
                                                <td>3개월</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">회사 내부 방침</td>
                                                <td>사기 예방을 위해 필요한 기록</td>
                                                <td>사기 예방</td>
                                                <td>5년</td>
                                            </tr>
                                            <tr>
                                                <td>부정이용기록</td>
                                                <td>부정 이용 방지</td>
                                                <td>5년</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>② <span class="num">수집된 개인정보의 보유 및 이용기간은 서비스이용계약체결(회원가입)시부터 서비스이용계약해지(탈퇴신청, 직권탈퇴 포함)입니다. 또한 동의 해지 시 '회사'는 '회원'의 개인정보를 상기 명시한 정보보유 사유에 따라 일정기간 저장하는 자료를 제외하고는 지체 없이 파기하며 개인정보처리가 제3자에게 위탁된 경우에는 수탁자에게도 파기하도록 지시합니다.</span></li>
                                <li>③ <span class="num">'회사'는 1년 동안 '서비스'를 이용하지 않은 휴면회원의 개인정보에 대하여 ‘정보통신망 이용촉진 및 정보보호등에 관한 법률 제29조’ 에 근거하여 '회원'에게 사전통지하고 개인정보를 파기하거나 별도로 분리하여 저장합니다. 단, 통신비밀보호법, 전자상거래 등에서의 소비자보호에 관한 법률 등의 관계법령의 규정 및 회사 내부 방침에 의하여 보존할 필요가 있는 경우 관계법령에서 규정한 일정기간 동안 '회원'의 개인정보를 보관합니다.</span></li>
                                <li>④ <span class="num">'회사'는 휴면회원 처리 30일 전까지 개인정보가 파기되거나 분리되어 저장 및 관리되는 사실과 기간 만료일 및 해당 개인정보의 항목을 공지사항, SMS, 푸쉬 알림 등의 방법으로 '회원'에게 알립니다. 이를 위해 '회원'은 '회사'에 정확한 연락처 정보를 제공/수정하여야 합니다.</span></li>
                            </ul>
                        </dd> <dt>6. 개인정보의 파기절차 및 방법</dt>
                        <dd>
                            <ul>
                                <li>회원'의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.</li>
                                <li><b>① 파기절차</b><br> <span class="priv2depth">가. '회원'이 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.</span> <span class="priv2depth">나. 별도DB로 옮겨진 개인정보는 법률에 의한 경우를 제외하고는 다른 목적으로 이용되지 않습니다.</span></li>
                                <li><b>② 파기방법</b><br> <span class="priv2depth">가. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</span><span class="priv2depth">나. 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</span> </li>
                            </ul>
                        </dd> <dt>7. 개인정보의 기술적／관리적 보호 대책</dt>
                        <dd>
                            <ul>
                                <li>회사'는 '회원'의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.</li>
                                <li><b>① 해킹 등에 대비한 대책</b><br> <span class="priv2depth">'회사'는 해킹이나 컴퓨터 바이러스 등에 의해 '회원'의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 '회원'의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다. 그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</span></li>
                                <li><b>② 취급 직원의 최소화 및 교육</b><br> <span class="priv2depth">'회사'의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 '사이다마켓' 개인정보처리방침의 준수를 항상 강조하고 있습니다.</span></li>
                                <li><b>③ 개인정보보호전담기구의 운영</b><br> <span class="priv2depth">'회사'의 사내 개인정보보호전담기구 등을 통하여 '사이다마켓' 개인정보처리방침의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다. 단, '회원' 본인의 부주의나 인터넷상의 문제로 개인정보가 유출되어 발생한 문제에 대해 '회사'는 일체의 책임을 지지 않습니다.</span></li>
                            </ul>
                        </dd> <dt>8. 회원의 권리/의무</dt>
                        <dd>
                            <ul>
                                <li>'회원'은 언제든지 본인의 개인정보를 열람 및 정정 삭제할 수 있습니다. '회원'이 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 본인에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.</li>
                                <li><b>① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</b><br> <span class="priv2depth">가. 개인정보 열람 요구</span> <span class="priv2depth">나. 오류 등이 있을 경우 정정 요구</span><span class="priv2depth">다. 삭제 또는 처리정지 요구</span></li>
                                <li>② <span class="num">제1항에 따른 권리 행사는 회사에 대해 서면, 전화, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 회사는 이에 대해 지체 없이 조치하겠습니다.</span></li>
                                <li>③ <span class="num">정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</span></li>
                                <li>④ <span class="num">제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</span></li>
                                <li>⑤ <span class="num">만 14세 미만의 아동의 경우, 법정대리인이 아동의 개인정보를 조회하거나 수정할 권리, 수집 및 이용 동의를 철회할 권리를 가집니다.</span></li>
                                <li>⑥ <span class="num">정보주체는 개인정보보호법 등 관계법령을 위반하여 회사가 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 아니 됩니다.</span></li>
                                <li>⑦ <span class="num">'회원'은 스스로 개인정보를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 개인정보가 유출되지 않도록 주의를 필요로 하고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해야합니다. 만약 이 같은 책임을 다하지 못하고 타인의 정보를 훼손할 시에는『정보통신망 이용촉진 및 정보보호 등에 관한 법률』등에 의해 처벌받을 수 있습니다.</span></li>
                            </ul>
                        </dd> <dt>9. 쿠키(Cookie)의 운용 및 거부</dt>
                        <dd>
                            <ul>
                                <li><b>① 쿠키의 사용 목적</b> <span class="priv2depth">가. <span class="num">'회사'는 개인 맞춤 서비스를 제공하기 위해서 '이용자'에 대한 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 '사이다마켓' 서버가 이용자의 브라우저에게 전송하는 소량의 정보로서 '이용자' 컴퓨터의 하드디스크에 저장됩니다.</span> 나. 회사는 쿠키의 사용을 통해서만 가능한 특정된 맞춤형 서비스를 제공할 수 있습니다.<br> 다. 회사는 회원을 식별하고 회원의 로그인 상태를 유지하기 위해 쿠키를 사용할 수 있습니다. </span></li>
                                <li><b>② 쿠키의 설치/운용 및 거부</b> <span class="priv2depth">가. <span class="num">'이용자'는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 '이용자'는 웹브라우저에서 옵션을 조정함으로써 모든 쿠키를 허용/거부하거나, 쿠키가 저장될 때마다 확인을 거치도록 할 수 있습니다.</span> 나. 쿠키의 저장을 거부할 경우에는 개인 맞춤서비스 등 '회사'가 제공하는 일부 서비스는 이용이 어려울 수 있습니다. </span></li>
                            </ul>
                        </dd> <dt>10. 링크 사이트에 대한 책임</dt>
                        <dd>회사'는 '이용자'에게 다른 웹사이트에 대한 링크를 제공할 수 있습니다. 이 경우 '회사'는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 진실성, 유용성 등에 대해서는 당사자간 귀책사항으로 '회사'는 어떠한 책임도 지지 않으며, 어떠한 보증도 하지 않습니다. 또한 링크되어 있는 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본 "개인정보처리방침"이 적용되지 않으므로 새로 방문한 사이트의 정책을 반드시 검토해 보시기 바랍니다.</dd> <dt>11. 고지의 의무</dt>
                        <dd>
                            <ul>
                                <li>현 개인정보처리방침은 정부의 정책 또는 회사의 필요에 따라 변경될 수 있으며, 내용의 추가 삭제 및 수정이 있을 시에는 시행 7일 전 인터넷 홈페이지 및 모바일을 통해 사전 고지할 것입니다. 사전공지가 곤란할 경우 지체없이 공지하며, 이 정책은 공지한 날로부터 시행됩니다.</li>
                                <li><span class="priv2depth">가. 개인정보처리방침 공고일자 : 2020년 9월 10일</span></li>
                                <li><span class="priv2depth">나. 개인정보처리방침 시행일자 : 2020년 9월 16일</span></li>
                                <li><span class="priv2depth">다. 이전 개인정보처리방침 시행일 : 2020년 5월 18일 <a href="https://static.hellomarket.com/a/provision/protection/20191112.html" class="history"><u>변경전 개인정보처리방침 보기</u></a></span></li>
                            </ul>
                        </dd> <dt>13. 개인정보 관리 책임자</dt>
                        <dd>
                            <ul>
                                <li>'회사'는 정보통신부 지정 개인정보지침에 의거 관리책임자 및 담당부서를 아래와 같이 지정합니다.</li>
                                <li>① 개인정보관리책임자 <span>가. 성명 : 배성민 이사<br>나. 전화번호 :&nbsp;02-324-4090<br>다. 이메일 :&nbsp;N@hellomarket.com </span></li>
                                <li>② 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. <span>가. 개인정보침해신고센터 (<a href="http://www.118.or.kr" target="_blank">www.118.or.kr</a>&nbsp;/ 118)<br>나. 정보보호마크인증위원회 (<a href="www.eprivacy.or.kr" target="_blank">www.eprivacy.or.kr</a>&nbsp;/&nbsp;02-580-0533~4)<br>다. 대검찰청 첨단범죄수사과 (<a href="http://www.spo.go.kr" target="_blank">http://www.spo.go.kr</a>&nbsp;/&nbsp;02-3480-2000)<br>라. 경찰청 사이버테러대응센터 (<a href="www.ctrc.go.kr" target="_blank">www.ctrc.go.kr</a>&nbsp;/&nbsp;02-392-0330) </span></li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </section>
        <!-- // content 끝 -->

        <!-- footer 시작 -->
        <footer></footer>
        <!-- // footer 끝 -->

        <!-- Javascript -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/asidebar.jquery.js"></script>
        <script src="assets/js/searchbox.js"></script>
        <script type="text/javascript">
            $(function () {
                $("header").load("header.html");
                $("footer").load("footer.html");
            });
        </script>
    </body>
</html>