<div>
    <h1>사이다페이 반품환불 정책</h1>
    <p>‘사이다페이’는 개인들의 입장을 고심하여 자체 개발한 에스크로 안심거래 서비스입니다.
        <br />사이다마켓은 개인간거래에최적화 된 안전한 거래환경을 조성하고, 회원 간 원활한 거래가 이루어질 수 있도록 ‘사이다페이 반품환불 정책‘을 운영하고 있습니다.
    </p>
    <p>1. 개인간거래 특성상 원칙적으로 반품환불은 판매자와 구매자 간 상호 합의를 통해 이루어져야 합니다.</p>
    <p>2. 아이템 배송 후 환불은 사이다톡 대화를 통해 회원 간 이야기를 나누시고, 판매자의 동의 하에 반품환불을 진행해주세요.</p>
    <p>※ 구매자가 판매자의 동의 없이 일방적인 반품을 진행할 경우, 수취거부로 인한 배송비 부담, 오배송 및 분실 등의 문제가 발생할 수 있으니 이러한 행동은 삼가주시기 바랍니다.</p>
    <p>※ 구매자의 일방적인 반품 시 원칙적으로 판매자의 동의하에 환불이 가능하며, 사이다마켓의 판단에 따라 이용이 제재될 수 있습니다.</p>
    <p>반품환불에 대해 회원 간 합의가 되지 않고 거래분쟁이 발생한 경우, 사이다마켓은 ‘사이다페이 반품환불 정책‘을 따릅니다.</p>
    <p>‘사이다페이’를 통해 서로 만족하는 개인간 거래를 즐길 수 있도록 아래의 가이드를 참고하시고, ‘사이다페이 반품환불 정책‘을 준수해주세요.</p>
    <h1>판매자 가이드</h1>
    <h4>1) 사이다마켓 거래부적합 아이템은 판매하지 말아주세요.</h4>
    <h4>2) 거래아이템 정보(내용, 상태 등)를 실제 촬영한 사진과 함께 등록해주세요.</h4>
    <p>아이템 정보확인이 불가한 '결제창'이나 '랜덤박스' 아이템은 거래분쟁 발생 시 사이다마켓에서 판매아이템 사전고지 정보를 파악하여 도움드리기 어렵습니다.</p>
    <h4>3) 사이다페이 결제제한 아이템은 ‘판매수락’ 하지 말아주세요.</h4>
    <p>순금,골드바,상품권 등 아이템은 사이다페이로 판매하실 수 없습니다.</p>
    <h4>4) 아이템 등록 시 구매자가 알아야 할 정보를 포함해주세요.</h4>
    <p>- 아이템 특성에 따라 사이즈, 색상, 브랜드, 보증서 유무를 기재해주세요.</p>
    <p>- 아이템 상태가 ‘거의새것’, ‘중고’의 경우 분쟁의 요소가 있는 사용감(보풀, 스크래치, 터치감, 잔상 등)과 사용기간 (제조일자, 구입시기 등)에 대해서는 판매 전 구매자에게 알려주세요.</p>
    <h4>5) 아이템의 하자 사실 등 아래의 정보는 구매자에게 배송 전 꼭! 전달해주세요.</h4>
    <p>- 고장, 파손(액정 등), 기계적 결함, 찢어짐, 얼룩, 곰팡이, 단추없음, 휴대폰 찍힘 등</p>
    <p>- A/S, 수선, 리폼, 침수폰 등</p>
    <p>- 병행수입, 리퍼아이템</p>
    <p>- 일부 구성품 없음</p>
    <p>※ 판매자가 구매자에게 위의 하자 사실 등을 사전 고지하지 않은 경우, ‘판매자 귀책사항’으로 판단하여 판매자의 동의 없이 환불 처리 될 수 있습니다.</p>
    <p>※ 아이템의 실제 사진은 구매자가 이미지 확대 없이 아이템 하자 상태를 인식할 수 있어야 합니다.</p>
    <h1>구매자 가이드</h1>
    <h4>1) 사이다마켓 거래부적합 아이템은 구매하지 말아주세요.</h4>
    <h4>2) 사이다페이 결제제한 아이템은 ‘결제’하지 말아 주세요.</h4>
    <p>순금, 골드바, 상품권 등 아이템은 사이다페이로 구매하 실 수 없습니다.</p>
    <h4>3) 판매자에게 아이템에 대해 필요한 정보를 확인해주세요.</h4>
    <p>아이템 특성에 따라 사이다톡 채팅을 통해 판매자에게 충분히 구매에 필요한 정보를 물어봐주세요.</p>
    <p>사이다마켓은 개인간 거래 공간으로 판매자가 아이템에 대한 모든 정보를 전문적으로 사전에 명시하기 어렵습니다.</p>
    <p>때문에 아이템 실제 사진, 사이즈, 색상, 브랜드, 보증서 유무 등 구매에 필요한 정보를 판매자에게 적극 확인해 주세요.</p>
    <p>※ 아이템 정보확인이 불가한 '결제창'이나 '랜덤박스' 아이템은 거래분쟁 발생 시 사이다마켓에서 판매아이템 사전고지 정보를 파악하여 도움드리기 어렵습니다.</p>
    <p>특히 ‘거의새것’, ‘중고’ 아이템의 경우 구매자의 꼼꼼한 확인이 필요합니다.</p>
    <p>중고아이템의 특성상 아이템 상태에 대해 주관성이 반영될 수 있는 점을 감안하여 판단하신 후 거래를 진행하시기를 권유드립니다.</p>
    <p>아이템 수령 후 분쟁을 방지하기 위해, 판매자에게 사용감(보풀, 스크래치, 터치감, 잔상 등)과 사용기간(제조일자, 구입시기 등)에 대해 확인해주세요.</p>
    <p>※ 반품환불은 판매자와의 합의를 우선으로 안내 드리고 있으며, 거래분쟁이 발생한 경우 사이다마켓은 ‘사이다페이 반품환불 정책‘에 따라 도움을 드릴 수 있습니다.</p>
    <h1>사이다페이 반품환불 정책</h1>
    <h4>1) 구매확정완료 전 거래는 판매자와 구매자 간 상호 합의된 경우 환불 처리 할 수 있습니다.</h4>
    <p>구매확정완료 전 [1:1문의] 로 환불요청을 접수해주세요.</p>
    <h4>2) 아래의 경우 사이다마켓은 회원 간 거래분쟁에 개입하여 반품환불 처리하지 않습니다.</h4>
    <p>- 구매확정완료 거래</p>
    <p>- 구매자가 배송완료 후 2일 내 1:1문의 접수하지 않을 경우</p>
    <p>- 택배 운송장(등기)번호 없는 거래</p>
    <p>- 거래부적합 아이템</p>
    <p>- 아이템 정보확인이 불가한 ‘결제창’, ‘랜덤박스’ 아이템</p>
    <p>- 사이다페이 결제제한 아이템 (순금, 골드바, 상품권 등)</p>
    <p>- 자동차, 부동산, 반려동물, 여행숙박, 티켓, 재능서비스, 골동품/희귀품 아이템</p>
    <h4>3) 거래분쟁 발생 시 구매자는 ‘배송완료 후 2일 내’ [1:1문의] 로 반품환불 심사를 요청할 수 있습니다.</h4>
    <p>구매자의 심사요청이 접수되면 사이다마켓은 객관적인 증빙자료를 검토하여 아래의 ‘판매자 귀책사항’에 해당하는지를 판단하고 신속하게 반품환불을 진행합니다.</p>
    <br />
    <p>※ 반품환불 심사요청은 배송완료 후 시간경과로 인한 아이템 사용/훼손 등 추가적인 분쟁사유 방지를 위해, 배송완료 후 2일 내 1:1문의를 접수해주셔야 합니다.</p>
    <br />
    <p>[판매자 귀책사항]</p>
    <p>1. 다른 아이템 배송 (색상/사이즈 등)</p>
    <p>2. 아이템에 대한 허위정보 제공 (가품을 정품으로 판매 등)</p>
    <p>3. 아이템 하자사실 등 아래정보 사전고지 없음</p>
    <p>- 고장, 파손(액정 등), 기계적 결함, 찢어짐, 얼룩, 곰팡이, 단추없음, 휴대폰 찍힘 등</p>
    <p>- A/S, 수선, 리폼, 침수폰 등</p>
    <p>- 병행수입, 리퍼아이템</p>
    <p>- 일부 구성품 없음</p>
    <p>4. 택배포장 미흡으로 인한 파손 (배송사고 제외)</p>
    <p>※ ‘판매자의 귀책사항’으로 판단될 경우 판매자의 동의없이 구매자에게 환불 처리 될 수 있습니다.</p>
    <br />
    <p>※ 사이다마켓은 회원에게 귀책사항에 대한 소명 또는 증빙자료를 요청할 수 있으며, 요청기한 내 확인사항에 따라 사이다마켓의 합리적인 판단하에 거래를 종결할 수 있습니다.</p>
    <br />
    <p>※ 사이다마켓이 중개자로서 실제 거래상황 및 귀책자를 명확하게 판단하기 어려운 경우, 해당 거래에 개입하여 환불 또는 구매확정 하지 않으며, 판매자와 구매자간 합의 결과에 따라 처리합니다.</p>
    <br />
    <p>[반품환불 절차(‘판매자의 귀책’에 해당하는 경우)]</p>
    <p>구매자 1:1문의 심사요청 접수 > 사이다마켓 반품환불 심사 > 판매자 환불 안내 및 반품주소 확인 > 구매자 반품아이템 발송 > 판매자 반품아이템 수령 및 상태확인 > 구매자 환불완료</p>
    <br />
    <h4>4) 반품환불 배송비 부담 기준</h4>
    <p>반품환불 시 왕복 배송비는 귀책사유를 제공한 회원이 부담함을 원칙으로 합니다.</p>
    <br />
    <p>- ‘판매자의 귀책사항’에 해당하는 경우 : 왕복 배송비 판매자 부담</p>
    <p>- ‘판매자 귀책사항’에 해당하지 않는 경우 : 왕복 배송비 구매자 부담</p>
    <p>- 귀책자가 명확하지 않은 경우 : 회원 간 합의</p>
</div>