<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdmProductMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Product" id="productMap">
		<result property="prodno" column="prodno" />
		<result property="cateno" column="cateno" />
		<result property="subject" column="subject" />
		<result property="price" column="price" />
		<result property="fee" column="fee" />
		<result property="detail" column="detail" />
		<result property="regdate" column="regdate" />
		<result property="prodcon" column="prodcon" />
		<result property="how" column="how" />
		<result property="tradecon" column="tradecon" />
		<result property="seller" column="seller" />
		<result property="hits" column="hits" />
		<result property="editdate" column="editdate" />
		<result property="filepath" column="filepath" />
		<result property="sellerNick" column="sellerNick" />
		<result property="catename" column="catename" />
		<result property="refund" column="refund" />
	</resultMap>
	<!-- 데이터 저장을 위한 기능 정의 -->


<!-- 	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate, r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
	</select> -->
	<!-- 신고에 쓸 다중행 조회를 위한 기능 정의 (최신순) -->
	<select id="getPriceAsc"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		order by price asc
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="getPriceDesc"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		order by price desc
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="getHowJ"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		where how="J"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="getHowT"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		where how="T"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="getTradeconJ"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		where r.tradecon="J"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="getTradeconW"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
		where r.tradecon="W"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
	
		<select id="ProductSelectList"
		parameterType="study.shop.cidermarket.model.Product"
		resultMap="productMap">
		SELECT p.prodno, p.cateno, c.name AS catename, subject, price, fee, detail,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate, 
			prodcon, r.how, r.tradecon, hits, seller,
			(SELECT nickname FROM member WHERE membno=seller) AS sellerNick,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,r.refund,
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath
		FROM product p 
		INNER JOIN category c ON c.cateno=p.cateno
		INNER JOIN RECORD R on p.prodno=r.prodno
	</select>
	<select id="ProductSelectCountAll"
		parameterType="study.shop.cidermarket.model.Member"
		resultType="int">
		SELECT COUNT(*) FROM product
		
	</select>
		<select id="getHowJCount"
		parameterType="study.shop.cidermarket.model.Member"
		resultType="int">
		SELECT COUNT(*) FROM product
		where how="J"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
		
	</select>
		<select id="getHowTCount"
		parameterType="study.shop.cidermarket.model.Member"
		resultType="int">
		SELECT COUNT(*) FROM product
		where how="T"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
		<select id="getTradeconJCount"
		parameterType="study.shop.cidermarket.model.Member"
		resultType="int">
		SELECT COUNT(*) FROM product
		where r.tradecon="J"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>
		<select id="getTradeconWCount"
		parameterType="study.shop.cidermarket.model.Member"
		resultType="int">
		SELECT COUNT(*) FROM product
		where r.tradecon="W"
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>		
	</select>

</mapper>