<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BbsInquiryMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Bbs" id="bbsInquiryMap">
		<result property="bbsno" column="bbsno" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="email" column="email" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="hits" column="hits" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="reply" column="reply" />
	</resultMap>
	
	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="selectItem"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultMap="bbsInquiryMap">
		SELECT bbsno, type, name, tel, email, category, title, content,
			DATE_FORMAT(regdate, '%Y-%m-%d %I:%M:%S') AS regdate,  
			DATE_FORMAT(editdate, '%Y-%m-%d %I:%M:%S') AS editdate, reply
		FROM bbs
		WHERE bbsno=#{bbsno}
	</select>
	
	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultMap="bbsInquiryMap">
		SELECT bbsno, type, name, tel, email, category, title, content, hits,
			DATE_FORMAT(regdate, '%Y-%m-%d %I:%M:%S') AS regdate,  
			DATE_FORMAT(editdate, '%Y-%m-%d %I:%M:%S') AS editdate, reply
		FROM bbs
		
		<where>
				type='Q' AND membno=#{membno}
			<if test="title != null and title != ''">
				AND title LIKE concat('%', #{title}, '%')
			</if>
		</where>
		
		ORDER BY bbsno DESC
		
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
	</select>	
	
	<!-- 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultType="int">
		SELECT COUNT(*) FROM bbs
		
		<where>
				type='Q' AND membno=#{membno}
			<if test="title != null and title != ''">
				AND title LIKE concat('%', #{title}, '%')
			</if>
		</where>
	</select>
	
	<!-- 데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem"
		parameterType="study.shop.cidermarket.model.Bbs"
		useGeneratedKeys="true" keyProperty="bbsno">
		INSERT INTO bbs (
			type, name, tel, email, category, title, 
			content, hits, regdate, editdate, reply, membno
		) VALUES (
			'Q', #{name}, #{tel}, #{email}, 
			#{category}, #{title}, #{content}, 0, now(),
			now(), #{reply}, #{membno}
		)
	</insert>

</mapper>