<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FilesMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Files" id="filesMap">
		<result property="fileno" column="fileno" />
		<result property="fname" column="fname" />
		<result property="oriname" column="oriname" />
		<result property="filepath" column="filepath" />
		<result property="thumbnailPath" column="thumbnailPath" />
		<result property="fileUrl" column="fileUrl" />
		<result property="thumbnailUrl" column="thumbnailUrl" />
		<result property="type" column="type" />
		<result property="size" column="size" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="reftable" column="reftable" />
		<result property="refid" column="refid" />
	</resultMap>
	
	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="selectItem"
		parameterType="study.shop.cidermarket.model.Files"
		resultMap="filesMap">
		SELECT fileno, fname, filepath, thumbnailPath, type, size,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,
			reftable, refid
		FROM files
		WHERE fileno=#{fileno}
	</select>
	
	<!-- BBS 단일행 조회를 위한 기능 정의 -->
	<select id="selectBbsItem"
		parameterType="study.shop.cidermarket.model.Files"
		resultMap="filesMap">
		SELECT fileno, fname, filepath, fileUrl, thumbnailPath, type, size, 
		DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate, 
		concat(reftable, '-', refid)
		FROM files
		WHERE reftable='bbs' AND refid=#{refid}
	</select>
	
	<!-- Product 단일행 조회를 위한 기능 정의 -->
	<select id="selectProductItem"
		parameterType="study.shop.cidermarket.model.Files"
		resultMap="filesMap">
		SELECT fileno, fname, filepath, fileUrl, thumbnailPath, type, size, 
		DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate, 
		concat(reftable, '-', refid)
		FROM files
		WHERE reftable='product' AND refid=#{refid}
	</select>
	
	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Files"
		resultMap="filesMap">
		SELECT fileno, fname, filepath, thumbnailPath, type, size,
			DATE_FORMAT(regdate, '%Y-%m-%d %H:%i:%S') AS regdate,  
			DATE_FORMAT(editdate, '%Y-%m-%d %H:%i:%S') AS editdate,
			reftable, refid
		FROM files
		
		<where>
			<if test="fname != null and fname != ''">
				fname LIKE concat('%', #{fname}, '%')
			</if>
		</where>
		
		ORDER BY fileno DESC
		
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
	</select>
	
	<!-- 다중행 상품이미지 조회를 위한 기능 정의 -->
	<select id="selectProductImageList"
		parameterType="study.shop.cidermarket.model.Files"
		resultMap="filesMap">
		SELECT filepath, reftable, refid
		FROM files
		
		<where>
			reftable LIKE 'p%'
			<if test="fname != null and fname != ''">
				AND fname LIKE concat('%', #{fname}, '%')
			</if>
		</where>
	</select>	
	
	<!-- 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="study.shop.cidermarket.model.Files"
		resultType="int">
		SELECT COUNT(*) FROM files
		
		<where>
			<if test="fname != null and fname != ''">
				fname LIKE concat('%', #{fname}, '%')
			</if>
		</where>
	</select>
	
	<!-- 데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem"
		parameterType="study.shop.cidermarket.model.Files"
		useGeneratedKeys="true" keyProperty="fileno">
		INSERT INTO files (
			fname, filepath, thumbnailPath, fileUrl, 
			thumbnailUrl, type, size, regdate, editdate, reftable, refid
		) VALUES (
			#{fname}, #{filepath}, #{thumbnailPath}, 
			#{fileUrl}, #{thumbnailUrl}, #{type}, #{size}, 
			now(), now(), #{reftable}, #{refid}
		)
	</insert>
	
	<!-- 데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItem"
		parameterType="study.shop.cidermarket.model.Files">
		DELETE FROM files WHERE fileno=#{fileno}
	</delete>
	
	<!-- 데이터 갱신을 위한 기능 정의 -->
	<update id="updateItem"
		parameterType="study.shop.cidermarket.model.Files">
		UPDATE files SET
			fname=#{fname}, filepath=#{filepath}, thumbnailPath=#{thumbnailPath}, 
			thumbnailUrl=#{thumbnailUrl}, fileUrl=#{fileUrl}, type=#{type}, size=#{size}, 
			editdate=now(), reftable=#{reftable}, refid=#{refid}
		WHERE fileno=#{fileno}
	</update>

</mapper>