<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemListMapper">

   <!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
   <resultMap type="study.shop.cidermarket.model.Product" id="ItemListMap">
      <result property="prodno" column="prodno" />
      <result property="cateno" column="cateno" />
      <result property="subject" column="subject" />
      <result property="price" column="price" />
      <result property="fee" column="fee" />
      <result property="detail" column="detail" />
      <result property="regdate" column="regdate" />
      <result property="prodcon" column="prodcon" />
      <result property="how" column="how" />
      <result property="tradecon" column="tradecon" />
      <result property="seller" column="seller" />
      <result property="hits" column="hits" />
      <result property="editdate" column="editdate" />
      <result property="filepath" column="filepath" />
      <result property="sellerNick" column="sellerNick" />
	  <result property="catename" column="catename" />
   </resultMap>
   
   <!-- 단일행 조회를 위한 기능 정의 -->
   <select id="selectItemByFilter"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      WHERE prodcon=#{prodcon} and how={how}
      
      order by regdate Desc
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
   <!-- 다중행 조회를 위한 기능 정의 -->
   <select id="selectList"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         subject, price, p.prodno, c.cateno, c.name as catename, prodcon, how, tradecon, hits, seller,
		 (SELECT nickname FROM member WHERE membno=seller) AS sellerNick,
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=p.prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath
      FROM product p
      INNER JOIN category c ON c.cateno=p.cateno
      
      <where>
      		tradecon='J'
      	<if test="cateno != null and cateno != ''">
      		AND c.cateno = #{cateno}
      	</if>
      </where>

      ORDER BY regdate Desc
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
      
   </select>   
   
   <select id="selectListByPriceAsc"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      
      <where>
         tradecon='J'
         <if test="cateno != null and cateno != ''">
            AND cateno = #{cateno}
         </if>
 		<if test="prodno == 10">
            AND prodcon='N'
        </if>
        <if test="prodno == 100">
            AND prodcon='A' 
        </if>
        <if test="prodno == 110">
            AND (prodcon='A' or prodcon='N')
        </if>       
        <if test="prodno == 1000">
            AND prodcon='U'
        </if>
        <if test="prodno == 1010">
            AND (prodcon='U'or prodcon='N')
        </if>
        <if test="prodno == 1100">
            AND (prodcon='U' or prodcon='A')
        </if> 
        <if test="prodno == 1110">
            AND (prodcon='U' or prodcon='A' or prodcon='N')
        </if>               
        
        <if test="prodno == 20">
            AND how='J'
        </if>
        <if test="prodno == 200">
            AND how='T'
        </if>
        <if test="prodno == 30">
            AND (prodcon='N' and how="J")
        </if>
        <if test="prodno == 210">
            AND (prodcon='N' and how="T")
        </if>
        <if test="prodno == 230">
            AND (prodcon='N' and (how="T" or how="J")) 
        </if>
        <if test="prodno == 120">
            AND (prodcon='A' and how="J")
        </if>
        <if test="prodno == 300">
            AND (prodcon='A' and how="T")
        </if>
        <if test="prodno == 320">
            AND (prodcon='A' and (how="T" or how="J"))
        </if>
        <if test="prodno == 1020">
            AND (prodcon='U' and how="J")
        </if>
        <if test="prodno == 1200">
            AND (prodcon='U' and how="T")
        </if>
        <if test="prodno == 1220">
            AND (prodcon='U' and (how="T" or how="J") )
        </if>
        <if test="prodno == 1120">
            AND (how='J' and (prodcon="A" or prodcon="U") )
        </if>
        <if test="prodno == 130">
            AND (how='J' and (prodcon="A" or prodcon="N"))
        </if>
        <if test="prodno == 310">
            AND (how='T' and (prodcon="N" or prodcon="A"))
        </if>       
        <if test="prodno == 330">
            AND ((prodcon='N' or prodcon="A") and (how="T" or how="J")) 
        </if>
        <if test="prodno == 1030">
            AND ((prodcon='N' or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1210">
            AND ((prodcon='N' or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1230">
            AND ((prodcon='N' or prodcon="U") and (how="T" or how="J" ))
        </if>               
        <if test="prodno == 1130">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1310">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1330">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and (how="T" or how="J"))
        </if>         
        <if test="subject != null and subject != ''">
			AND ((subject LIKE concat('%', #{subject}, '%') OR 
			seller=(SELECT membno FROM member WHERE membno=seller AND nickname LIKE concat('%', #{subject}, '%'))
			OR prodno in (SELECT DISTINCT prodno FROM hashtag WHERE tagname LIKE concat('%', #{subject}, '%'))))
		</if>
         
      </where>
      
      ORDER BY price Asc
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
      <select id="selectListByPriceDesc"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      
      <where>
         tradecon='J'
         <if test="cateno != null and cateno != ''">
            AND cateno = #{cateno}
         </if>
 		<if test="prodno == 10">
            AND prodcon='N'
        </if>
        <if test="prodno == 100">
            AND prodcon='A' 
        </if>
        <if test="prodno == 110">
            AND (prodcon='A' or prodcon='N')
        </if>       
        <if test="prodno == 1000">
            AND prodcon='U'
        </if>
        <if test="prodno == 1010">
            AND (prodcon='U'or prodcon='N')
        </if>
        <if test="prodno == 1100">
            AND (prodcon='U' or prodcon='A')
        </if> 
        <if test="prodno == 1110">
            AND (prodcon='U' or prodcon='A' or prodcon='N')
        </if>               
        
        <if test="prodno == 20">
            AND how='J'
        </if>
        <if test="prodno == 200">
            AND how='T'
        </if>
        <if test="prodno == 30">
            AND (prodcon='N' and how="J")
        </if>
        <if test="prodno == 210">
            AND (prodcon='N' and how="T")
        </if>
        <if test="prodno == 230">
            AND (prodcon='N' and (how="T" or how="J")) 
        </if>
        <if test="prodno == 120">
            AND (prodcon='A' and how="J")
        </if>
        <if test="prodno == 300">
            AND (prodcon='A' and how="T")
        </if>
        <if test="prodno == 320">
            AND (prodcon='A' and (how="T" or how="J"))
        </if>
        <if test="prodno == 1020">
            AND (prodcon='U' and how="J")
        </if>
        <if test="prodno == 1200">
            AND (prodcon='U' and how="T")
        </if>
        <if test="prodno == 1220">
            AND (prodcon='U' and (how="T" or how="J") )
        </if>
        <if test="prodno == 1120">
            AND (how='J' and (prodcon="A" or prodcon="U") )
        </if>
        <if test="prodno == 130">
            AND (how='J' and (prodcon="A" or prodcon="N"))
        </if>
        <if test="prodno == 310">
            AND (how='T' and (prodcon="N" or prodcon="A"))
        </if>       
        <if test="prodno == 330">
            AND ((prodcon='N' or prodcon="A") and (how="T" or how="J")) 
        </if>
        <if test="prodno == 1030">
            AND ((prodcon='N' or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1210">
            AND ((prodcon='N' or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1230">
            AND ((prodcon='N' or prodcon="U") and (how="T" or how="J" ))
        </if>               
        <if test="prodno == 1130">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1310">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1330">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and (how="T" or how="J"))
        </if>       
        <if test="subject != null and subject != ''">
			AND ((subject LIKE concat('%', #{subject}, '%') OR 
			seller=(SELECT membno FROM member WHERE membno=seller AND nickname LIKE concat('%', #{subject}, '%'))
			OR prodno in (SELECT DISTINCT prodno FROM hashtag WHERE tagname LIKE concat('%', #{subject}, '%'))))
		</if>
      </where>
      
      ORDER BY price DESC
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
   <select id="selectListByRegdate"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      
      <where>
         tradecon='J'
         <if test="cateno != null and cateno != ''">
            AND cateno = #{cateno}
         </if>
 		<if test="prodno == 10">
            AND prodcon='N'
        </if>
        <if test="prodno == 100">
            AND prodcon='A' 
        </if>
        <if test="prodno == 110">
            AND (prodcon='A' or prodcon='N')
        </if>       
        <if test="prodno == 1000">
            AND prodcon='U'
        </if>
        <if test="prodno == 1010">
            AND (prodcon='U'or prodcon='N')
        </if>
        <if test="prodno == 1100">
            AND (prodcon='U' or prodcon='A')
        </if> 
        <if test="prodno == 1110">
            AND (prodcon='U' or prodcon='A' or prodcon='N')
        </if>               
        
        <if test="prodno == 20">
            AND how='J'
        </if>
        <if test="prodno == 200">
            AND how='T'
        </if>
        <if test="prodno == 30">
            AND (prodcon='N' and how="J")
        </if>
        <if test="prodno == 210">
            AND (prodcon='N' and how="T")
        </if>
        <if test="prodno == 230">
            AND (prodcon='N' and (how="T" or how="J")) 
        </if>
        <if test="prodno == 120">
            AND (prodcon='A' and how="J")
        </if>
        <if test="prodno == 300">
            AND (prodcon='A' and how="T")
        </if>
        <if test="prodno == 320">
            AND (prodcon='A' and (how="T" or how="J"))
        </if>
        <if test="prodno == 1020">
            AND (prodcon='U' and how="J")
        </if>
        <if test="prodno == 1200">
            AND (prodcon='U' and how="T")
        </if>
        <if test="prodno == 1220">
            AND (prodcon='U' and (how="T" or how="J") )
        </if>
        <if test="prodno == 1120">
            AND (how='J' and (prodcon="A" or prodcon="U") )
        </if>
        <if test="prodno == 130">
            AND (how='J' and (prodcon="A" or prodcon="N"))
        </if>
        <if test="prodno == 310">
            AND (how='T' and (prodcon="N" or prodcon="A"))
        </if>       
        <if test="prodno == 330">
            AND ((prodcon='N' or prodcon="A") and (how="T" or how="J")) 
        </if>
        <if test="prodno == 1030">
            AND ((prodcon='N' or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1210">
            AND ((prodcon='N' or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1230">
            AND ((prodcon='N' or prodcon="U") and (how="T" or how="J" ))
        </if>               
        <if test="prodno == 1130">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1310">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1330">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and (how="T" or how="J"))
        </if>
        <if test="subject != null and subject != ''">
			AND ((subject LIKE concat('%', #{subject}, '%') OR 
			seller=(SELECT membno FROM member WHERE membno=seller AND nickname LIKE concat('%', #{subject}, '%'))
			OR prodno in (SELECT DISTINCT prodno FROM hashtag WHERE tagname LIKE concat('%', #{subject}, '%'))))
		</if>
      </where>
      
      ORDER BY regdate DESC
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
   <!-- 데이터 수 조회를 위한 기능 정의 -->
   <select id="selectCountAll"
      parameterType="study.shop.cidermarket.model.Product"
      resultType="int">
      SELECT COUNT(*) FROM product
      
      <where>
         tradecon='J'
         <if test="cateno != null and cateno != ''">
            AND cateno = #{cateno}
         </if>
         
 		<if test="prodno == 10">
            AND prodcon='N'
        </if>
        <if test="prodno == 100">
            AND prodcon='A' 
        </if>
        <if test="prodno == 110">
            AND (prodcon='A' or prodcon='N')
        </if>       
        <if test="prodno == 1000">
            AND prodcon='U'
        </if>
        <if test="prodno == 1010">
            AND (prodcon='U'or prodcon='N')
        </if>
        <if test="prodno == 1100">
            AND (prodcon='U' or prodcon='A')
        </if> 
        <if test="prodno == 1110">
            AND (prodcon='U' or prodcon='A' or prodcon='N')
        </if>               
        
        <if test="prodno == 20">
            AND how='J'
        </if>
        <if test="prodno == 200">
            AND how='T'
        </if>
        <if test="prodno == 30">
            AND (prodcon='N' and how="J")
        </if>
        <if test="prodno == 210">
            AND (prodcon='N' and how="T")
        </if>
        <if test="prodno == 230">
            AND (prodcon='N' and (how="T" or how="J")) 
        </if>
        <if test="prodno == 120">
            AND (prodcon='A' and how="J")
        </if>
        <if test="prodno == 300">
            AND (prodcon='A' and how="T")
        </if>
        <if test="prodno == 320">
            AND (prodcon='A' and (how="T" or how="J"))
        </if>
        <if test="prodno == 1020">
            AND (prodcon='U' and how="J")
        </if>
        <if test="prodno == 1200">
            AND (prodcon='U' and how="T")
        </if>
        <if test="prodno == 1220">
            AND (prodcon='U' and (how="T" or how="J") )
        </if>
        <if test="prodno == 1120">
            AND (how='J' and (prodcon="A" or prodcon="U") )
        </if>
        <if test="prodno == 130">
            AND (how='J' and (prodcon="A" or prodcon="N"))
        </if>
        <if test="prodno == 310">
            AND (how='T' and (prodcon="N" or prodcon="A"))
        </if>       
        <if test="prodno == 330">
            AND ((prodcon='N' or prodcon="A") and (how="T" or how="J")) 
        </if>
        <if test="prodno == 1030">
            AND ((prodcon='N' or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1210">
            AND ((prodcon='N' or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1230">
            AND ((prodcon='N' or prodcon="U") and (how="T" or how="J" ))
        </if>               
        <if test="prodno == 1130">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="J")
        </if>
        <if test="prodno == 1310">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and how="T")
        </if>
        <if test="prodno == 1330">
            AND ((prodcon='N' or prodcon="A" or prodcon="U") and (how="T" or how="J"))
        </if>
        <if test="subject != null and subject != ''">
			AND ((subject LIKE concat('%', #{subject}, '%') OR 
			seller=(SELECT membno FROM member WHERE membno=seller AND nickname LIKE concat('%', #{subject}, '%'))
			OR prodno in (SELECT DISTINCT prodno FROM hashtag WHERE tagname LIKE concat('%', #{subject}, '%'))))
		</if>  
      </where>
   </select>
   
   
      <!-- 필터 다중행 조회를 위한 기능 정의 -->
   
   <!-- 카테고리별로 불러오기 -->
   <select id="selectListByCategory"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      WHERE cateno=#{cateno} AND tradecon='J'
      <if test="prodno != null and prodno != ''">
      AND prodno!=#{prodno}
      </if>
      ORDER BY regdate DESC
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
   <!-- 판매자별로 불러오기 -->
   <select id="selectListBySeller"
      parameterType="study.shop.cidermarket.model.Product"
      resultMap="ItemListMap">
      SELECT 
         (SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS filepath,
         (SELECT thumbnailPath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=prodno AND reftable='product' order by fname asc limit 0, 1)) AS thumbnailPath,
         subject, price, prodno, (SELECT nickname FROM member WHERE membno=seller) AS sellerNick
      FROM product
      WHERE seller=#{seller} AND tradecon='J'
      <if test="prodno != null and prodno != ''">
      AND prodno!=#{prodno}
      </if>
      ORDER BY regdate DESC
      
      <if test="listCount > 0">
         LIMIT #{offset}, #{listCount}
      </if>
   </select>
   
      <!-- 다중행 조회를 위한 기능 정의 -->


</mapper>