<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MembprodMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Membprod" id="membprodMap">
		<result property="membno" column="membno" />
		<result property="prodno" column="prodno" />
	</resultMap>	
	<!-- 총 거래수 수 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Membprod"
		resultMap="membprodMap">
		SELECT membno 
		FROM membprod
		WHERE prodno=#{prodno}
	</select>
	
	<!-- 데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem"
		parameterType="study.shop.cidermarket.model.Membprod">
		INSERT INTO membprod (
		prodno, membno
		) VALUES (
		#{prodno}, #{membno}
		)
	</insert>
	
	<!-- 데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItem"
		parameterType="study.shop.cidermarket.model.Membprod">
		DELETE FROM membprod WHERE prodno=#{prodno} AND membno=#{membno}
	</delete>
	
	<!-- 멤버 탈퇴 시 데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItemByMembno"
		parameterType="study.shop.cidermarket.model.Membprod">
		DELETE FROM membprod WHERE membno=#{membno}
	</delete>
</mapper>