<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestionMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Bbs" id="QuestionMap">
		<result property="bbsno" column="bbsno" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="email" column="email" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="hits" column="hits" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="reply" column="reply" />
		<result property="filepath" column="filepath" />
	</resultMap>
	
	
	
	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="selectItem"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultMap="QuestionMap">
		SELECT bbsno, title, content, reply, name, tel, email, category,
			DATE_FORMAT(regdate, '%Y-%m-%d') AS regdate,  
			(SELECT filepath FROM files WHERE fileno=(SELECT fileno FROM files WHERE refid=bbsno AND reftable='bbs' order by fname asc limit 0, 1)) AS filepath
		FROM bbs
		
		<where>
			type='Q' AND bbsno=#{bbsno}
			<if test="title != null and title != ''">
				AND title LIKE concat('%', #{title}, '%')
			</if>
		</where>
		
	</select>
	
	
	
	<!---다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultMap="QuestionMap">
		SELECT bbsno, title, name, hits, reply,
			DATE_FORMAT(regdate, '%Y-%m-%d') AS regdate
		FROM bbs
		
		<where>
			type='Q'
			<if test="title != null and title != ''">
				AND title LIKE concat('%', #{title}, '%')
			</if>
			<if test="editdate == 'before'">
				AND (reply is null OR reply = '')
			</if>
			<if test="editdate == 'after'">
				AND reply is not null
			</if>
		</where>

		ORDER BY bbsno DESC
		
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
	</select>	
	
	
	
	
	<!-- 전체 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultType="int">
		SELECT COUNT(*) FROM bbs
		
		<where>
			type='Q'
			<if test="title != null and title != ''">
				AND title LIKE concat('%', #{title}, '%')
			</if>
			<if test="editdate == 'before'">
				AND (reply is null OR reply = '')
			</if>
			<if test="editdate == 'after'">
				AND reply is not null
			</if>
		</where>
	</select>
	
	<!-- 당일 데이터 카운터를 위한 기능 정의 -->
	<select id="selectCountDay"
		parameterType="study.shop.cidermarket.model.Bbs"
		resultType="int">
		SELECT COUNT(*) FROM bbs
		WHERE type='Q'
		AND regdate BETWEEN DATE_ADD(NOW(),INTERVAL -1 DAY ) AND NOW();
	</select>
	
	<!-- 데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItem"
		parameterType="study.shop.cidermarket.model.Bbs">
		DELETE FROM bbs WHERE bbsno=#{bbsno}
	</delete>
	
	<!-- 데이터 갱신을 위한 기능 정의 -->
	<update id="updateItem"
		parameterType="study.shop.cidermarket.model.Bbs">
		UPDATE bbs SET
			reply=#{reply}, editdate=now()
		WHERE bbsno=#{bbsno}
	</update>

</mapper>