<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReceiverMsgboxMapper">
	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Msgbox" id="rmsgboxMap">
		<result property="msgno" column="msgno" />
		<result property="sender" column="sender" />
		<result property="receiver" column="receiver" />
		<result property="content" column="content" />
		<result property="save" column="save" />
		<result property="prodno" column="prodno" />
		<result property="regdate" column="regdate" />
		<result property="subject" column="subject" />
		<result property="sendersave" column="sendersave" />
		<result property="receiversave" column="receiversave" />
		<result property="senderdelete" column="senderdelete" />
		<result property="receiverdelete" column="receiverdelete" />
		<result property="senderNickname" column="senderNickname" />
		<result property="receiverNickname" column="receiverNickname" />
	</resultMap>
	
	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.shop.cidermarket.model.Msgbox"
		resultMap="rmsgboxMap">
		SELECT msgno, receiver, sender, m.nickname as senderNickname, content, receiversave, p.prodno,
			DATE_FORMAT(ms.regdate, '%Y-%m-%d %H:%i:%S') AS regdate,
			p.subject as subject
		FROM msgbox ms
		INNER JOIN member m ON ms.sender=m.membno
		INNER JOIN product p ON ms.prodno=p.prodno
		WHERE receiver=#{receiver} AND receiverdelete IS NULL
		
		ORDER BY ms.regdate DESC
		
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
	</select>	
	
	<!-- 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="study.shop.cidermarket.model.Msgbox"
		resultType="int">
		SELECT COUNT(*) FROM msgbox WHERE receiver=#{receiver} AND receiverdelete IS NULL
	</select>
	
	<!-- 메시지 저장 위한 기능 정의 -->
	<insert id="insertItem"
		parameterType="study.shop.cidermarket.model.Msgbox"
		useGeneratedKeys="true" keyProperty="msgno">
		INSERT INTO msgbox (
			sender, receiver, content, prodno, regdate
		) VALUES (
			#{sender}, #{receiver}, #{content}, #{prodno}, now()
			)
	</insert>
	
	<!-- 보관함에 저장하기 위한 기능 정의 -->
	<update id="saveMsg"
		parameterType="study.shop.cidermarket.model.Msgbox">
		UPDATE msgbox SET
			receiversave='Y'
		WHERE msgno=#{msgno}
	</update>
	
	<!-- 삭제를 위한 기능 정의 (실제로 삭제하지 않고 데이터 값을 바꾼다). -->	
		<update id="deleteMsg"
		parameterType="study.shop.cidermarket.model.Msgbox">
		UPDATE msgbox SET
			receiverdelete='Y'
		WHERE msgno=#{msgno}
	</update>	
	
	<!-- sendersave=null, receiversave=null, senderdelete=Y, receiverdelete=Y일때 하루에 한번씩 스케쥴러로 데이터 삭제-->
	<delete id="deleteItem"
		parameterType="study.shop.cidermarket.model.Msgbox">
		DELETE FROM msgbox WHERE sendersave IS NULL AND receiversave IS NULL AND senderdelete="Y" AND receiverdelete="Y"
	</delete>
	
	<!-- sendersave=null, receiversave=null, senderdelete=null, receiverdelete=null일때 50일이 넘은 데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItem2"
		parameterType="study.shop.cidermarket.model.Msgbox">
		DELETE FROM msgbox WHERE sendersave IS NULL AND receiversave IS NULL AND senderdelete IS NULL AND receiverdelete IS NULL 
		AND regdate &lt; date_add(now(), INTERVAL -50 DAY)
	</delete>
	
	
</mapper>