<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SingoMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap type="study.shop.cidermarket.model.Singo" id="singoMap">
		<result property="singono" column="singono" />
		<result property="prodno" column="prodno" />
		<result property="type" column="type" />
		<result property="content" column="content" />
		<result property="membno" column="membno" />
		<result property="regdate" column="regdate" />
	</resultMap>
	<!-- 데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem"
		parameterType="study.shop.cidermarket.model.Singo"
		useGeneratedKeys="true" keyProperty="singono">
		INSERT INTO singo (
		prodno, type, content, membno, regdate
		) VALUES (
		#{prodno}, #{type}, #{content}, #{membno}, now()
		)
	</insert>
</mapper>