@charset "utf-8";

/* 상품목록 */
.carousel {
  margin-bottom: 10px;
}
.carousel-inner > .carousel-item > a > img {
  width: 100%;
}
.item-list {
  padding-right: 0px;
  padding-left: 0px;
}
.item-list > a {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.thumbnail {
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.thumbnail .caption {
  padding: 0;
  height: 80px;
}
.thumbnail .caption h5 {
  font-size: 16px;
  line-height: 20px;
}
.thumbnail .caption h4 {
  font-weight: bold;
  letter-spacing: -0.8px;
}
.thumbnail img {
  border: 1px solid #eee;
}
.item-list a:hover img {
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  transition: ease 0.3s;
}