body {
  padding-bottom: 0;
}
#anou {
  width: 100%;
  text-align: center;
  font-weight: 600;
  background-color: #fef4eb;
  padding: 15px 0;
}

#reg_subject {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.reg_name {
  font-weight: bold;
  font-size: 2em;
  color: #31a05f;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 70px;
}

#reg_cont > .reg_name {
  margin-top: 0;
}
.item-img {
  padding: 0.3em;
  position: relative;
}

.item-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.item-img .image_plus {
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  background-image: url("../../img/img_plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999999px;
}

#first_img {
  position: absolute;
  background-color: #fff;
  border: 1px solid #aaa;
  z-index: 3;
  padding: 0 0.7em;
  border-radius: 1em;
  margin: 0.4em;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}
#reg_cont > .order_name {
  margin-top: 0;
}

#reg_info label {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
}

#final button {
  height: 50px;
  font-size: 1.5em;
  margin-top: 80px;
  margin-bottom: 30px;
}

#item_tag {
  width: 8em;
  font-weight: bold;
}

.btn-list {
  width: 8em;
  border: 1px solid #31a05f;
  color: #31a05f;
  font-weight: bold;
  margin-right: 0.5em;
}
.btn-list:focus {
  width: 8em;
  border: 1px solid #31a05f;
  color: #31a05f;
  font-weight: bold;
  margin-right: 0.5em;
  background-color: #fff;
}
.active {
  background-color: #31a05f !important;
  color: #fff !important;
}
.won {
  color: #777;
  padding-top: 5px;
  padding-left: 0;
}

label.checkbox-inline input {
  margin-top: 6px;
}
#reg_info label.checkbox-inline {
  margin-right: 3em;
  font-weight: 400;
  font-size: 1.1em;
}
