#mygrade .media {
  padding: 20px 0;
}

#mygrade .media-body {
  padding-left: 1em;
}
#mygrade .media-body > div {
  margin: 5px 0;
}
#mygrade .media img {
  padding: 0;
}
#mygrade .media-body > a {
  display: inline-block;
  background-color: #ffad59;
  color: #fff;
  text-decoration: none;
  padding: 0.4em 1.5em;
  border-radius: 20px;
  margin-top: 10px;
}

#trade_ea {
  margin-bottom: 40px;
}
#trade_ea_subject {
  font-weight: bold;
  font-size: 1.5em;
  color: #31a05f;
  margin: 10px 0;
}

#trade_ea > table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
#trade_ea td {
  border: 1px solid #ccc;
  padding: 0.8em;
}

#trade_ea tr td:last-child {
  border-right: 0;
}
#trade_ea tr td:first-child {
  border-left: 0;
}

#trade_anou_subject {
  font-weight: bold;
  font-size: 1.5em;
  color: #31a05f;
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#trade_anou ul {
  padding-left: 2em;
}

#trade_anou li {
  margin: 10px 0;
}
/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  display: none;
  z-index: 9999999;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
  /* 요소의 좌측상단 꼭지점이 화면 중앙에 위치하게 된다. */
  width: 75%;
  height: 50%;
  position: fixed;
  top: 25%;
  left: 12%;
  /* 요소의 크기/2 만큼 왼쪽,상단 방향으로 이동시켜 가운데 배치한다 */
  display: none;
  z-index: 9999999;
  background-color: #fff;
  overflow: scroll;
}
.over_layer {
  padding: 2em;
}
.over_layer > ul {
  padding: 0;
}

.over_layer li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
.grade_color {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 5px;
}
.over_layer li:last-child {
  border-bottom: 0;
}
.over_layer img.media-object {
  padding: 0;
}
.over_layer .media-body {
  padding-left: 1em;
}

/* 버튼만들기 */
.my_ctg li {
  display: inline-block;
  text-align: center;
  width: 21%;
  height: 40px;
  margin: 0 0.2em;
  font-weight: bold;
}
.my_ctg li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 9px;
  text-decoration: none;
  border: 1px solid #ff8e18;
  border-radius: 3em;
}
