@charset "UTF-8";
/* 로그인 */
.checkbox label {
  margin: 0 35px 20px 15px;
}
.find_id_pw {
  margin-top: 20px;
}
.find_id_pw span {
  margin: 0 20px;
  color: #ccc;
}
.in-eng,
.in-eng:before,
.in-num,
.in-num:before,
.in-spc,
.in-spc:before {
  color: #aaa;
  font-size: 12px;
}
.pop {
  visibility: hidden;
  position: absolute;
  top: -28px;
  left: 100px;
  padding: 2px 8px;
  border-radius: 50px;
  font-size: 12px;
  background-color: #ff8e18;
  color: #fff;
  width: auto;
  transition: 0.2s;
}
.pop:after,
.pop:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pop:after {
  border-color: rgba(136, 183, 213, 0);
  margin-left: -30px;
}
.pop:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #ff8e18;
  border-width: 5px;
  margin-left: -5px;
}

/* 회원가입 */
.password_icon {
  position: relative;
}
.glyphicon-eye-open,
.glyphicon-eye-close {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
  cursor: pointer;
}
.join_info {
  margin: 20px 0;
}
.join_info a {
  color: #31a05f;
  font-weight: bold;
}
.input-group[class*="col-"] {
  padding: 0 15px;
}
.phone-help-block {
  padding-left: 15px;
}

/* 이용약관 */
.rule_sub_title h5 {
  margin: 30px 0;
  color: #31a05f;
}
/* 상품목록 */
.category-name {
  margin-top: 15px;
  color: #bbb;
  font-size: 12px;
}
#category-title {
  margin-top: 0;
}
.item-filter {
  margin: 15px auto;
}
.item-filter .glyphicon-filter {
  color: #fff;
  font-size: 16px;
}
/* 상품필터 */
.filter_sort {
  margin-bottom: 20px;
}
.filter_sort .btn-tag {
  border: 1px solid #31a05f;
  background-color: #fff;
  color: #31a05f;
}
.filter_sort .btn-tag .glyphicon {
  color: #31a05f;
  font-size: 10px;
  vertical-align: baseline;
}
.filter_sort .btn-tag.active,
.filter_sort .btn-tag.active .glyphicon {
  background-color: #31a05f;
  color: #fff;
}
.item-row {
  position: relative;
  margin: 0 5px;
}
.item-row .btn-group .glyphicon {
  color: #555;
}
#item-select {
  display: inline-block;
  width: 120px;
}
.item-row .btn-group {
  position: absolute;
  right: 1px;
}

/* 상품 리스트형 보기 */
.itemList {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
.itemList img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.itemList .caption {
  display: inline-block;
  width: 65%;
  padding-left: 4%;
}

/* 거래내역 */
.tab {
  width: 100%;
  margin: 20px auto;
}

/** 개별 버튼에 대한 기본 크기와 가로 정렬 */
.tab-button-item-link {
  width: 50%;
  font-size: 1.5em;
  padding-bottom: 7px;
  border-bottom: 3px solid #f0f0f0;
}
/** 현재 활성 탭의 배경 이미지 별도 처리 */
.tab-button-item-link.selected {
  border-bottom-color: #31a05f;
  font-weight: bold;
  color: #31a05f;
}

.tab-panel {
  padding: 20px 10px;
}

.recordSort > .btn {
  margin: 10px 10px 0;
}
.caption .label {
  display: inline-block;
  padding: 7px 10px;
  font-size: 0.9em;
  border: 1px solid #31a05f;
  color: #31a05f;
}
.caption .label.label2 {
  border: 1px solid #555;
  color: #555;
}
.resultBtn button:first-child {
  margin-right: 10px;
}
.caption .disabled {
  cursor: pointer;
}

/* 헬프센터 */
.tab-button-item-link3 {
  width: 33.3333%;
  font-size: 1.4em;
  padding-bottom: 7px;
  border-bottom: 3px solid #f0f0f0;
}
.tab-button-item-link3.selected {
  border-bottom-color: #31a05f;
  font-weight: bold;
  color: #31a05f;
}
#searchBox_help {
  position: relative;
}
.btnSearch-help {
  position: absolute;
  background: none;
  right: 10px;
  top: 0;
}
#searchBox_help > .form-control {
  padding-right: 35px;
  margin-bottom: 15px;
}
#tab-page-faq .recordSort .btn {
  margin: 0 5px 0;
}
.rule_content .title {
  color: #31a05f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.policy_content .title {
  font-size: 16px;
}
.panel-group {
  border-bottom: 1px solid #ccc;
}
.panel-faq {
  margin-top: 15px;
  box-shadow: none;
}
#accordion h4:before {
  content: "Q";
  color: #31a05f;
  position: relative;
  top: 0;
}
.panel-body {
  padding: 0;
}
.panel-body h4 {
  padding: 15px 0;
  line-height: 1.5em;
  border-top: 1px solid #ccc;
}
.form-horizontal {
  margin-top: 20px;
}
.form-horizontal .help-block {
  color: #ff8e18;
}
.submitBtn {
  margin: 30px auto;
}

/* 일반문의 */
.star {
  color: red;
}
/* 파일첨부 */
.file_input_hidden {
  font-size: 21px;
  width: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor: pointer;
}
.file_input_img_btn {
  margin-bottom: 10px;
}
.preview li {
  float: left;
  width: 150px;
  margin-right: 10px;
  word-wrap: break-word;
  overflow: hidden;
}
.preview li img {
  width: 150px;
  height: 150px;
}
/* 문의내역 리스트 */
.recordSort2 {
  margin-top: 30px;
}
.panel-body:hover {
  cursor: pointer;
}
.inquiry-list {
  margin-top: 15px;
}
.list-group-item > .badge {
  background-color: #31a05f;
  float: left;
  margin-right: 10px;
}
/* 문의내역 읽기 */
.user-write {
  margin-top: 15px;
}
#user-write {
  background-color: #fff;
}
#user-write + .panel-body:hover,
#admin-write + .panel-body:hover {
  cursor: auto;
}
#user-write + .panel-body,
#admin-write + .panel-body {
  padding: 15px;
}
.glyphicon-comment {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

/* 공지사항 */
#notice-list,
#event-list {
  margin-top: 20px;
}
.boardImg {
  float: left;
  margin-right: 10px;
}
.boardImg img {
  width: 50px;
  height: 50px;
}
.boardTitle {
  margin-bottom: 5px;
}
.boardDate {
  font-size: 0.7em;
  color: #999;
}
.boardTitle-view {
  font-size: 18px;
  font-weight: bold;
}
.boardDate-view {
  font-weight: normal;
  display: block;
  margin-top: 10px;
}
.boardImg-view img {
  width: 100%;
  margin-bottom: 20px;
}

/* 거래후기 */
.foryou {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.foryou b {
  color: #ff8e18;
}
.reviewStar {
  margin: 15px 0;
  cursor: pointer;
}
.review_img img {
  width: 100%;
  margin-bottom: 10px;
}
.item-img {
  padding: 0.3em;
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 15px;
}
.item-img:before {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  color: #999;
}
.item-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.item-img .image_plus {
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  background-image: url("../../img/img_plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999999px;
}
.remove_img {
  display: none;
  position: absolute;
  z-index: 3;
  font-weight: bold;
  right: 10px;
  top: 10px;
}
