@charset "UTF-8";
.topReturn {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    z-index: 100;
}
.topReturn .container {
    height: 70px;
    position: relative;
}
.topReturn .btn-close {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    font-size: 30px;
    margin: 10px;
    background-color: #fff;
    border: 0;
}
.topReturn .glyphicon-remove:before {
    
}
.refresh button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #31a05f;
    border-radius: 100px;
    background-color: #fff;
}
.glyphicon-refresh {
    color: #31a05f;
    font-size: 1.5em;
}
.alarmList {
    margin-bottom: 30px;
}
.alarmContent > a {
    display: block;
    position: relative;
    border: 1px solid #eee;
    padding: 10px 35px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.alarmTitle {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #31a05f;
}
.alarmContent i {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #31a05f;
}
.pdTitle {
    color: #ff8e18;
}