@charset "utf-8";

/* 상품목록 */
.carousel {
  margin-bottom: 30px;
}
.carousel-inner > .carousel-item > a > img {
  width: 100%;
}
.carousel-control {
  opacity: 0.3;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-indicators {
  bottom: -35px;
}
.carousel-indicators li {
  border-color: #ccc;
}
.carousel-indicators li.active {
  background-color: #ccc;
}
.item-list {
  padding-right: 0px;
  padding-left: 0px;
}
.item-list > a {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.item-list > a:hover,
.item-list > a:hover .caption {
  text-decoration: none;
  color: #31a05f;
  transition: 0.3s;
}
.thumbnail {
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .caption {
  padding: 0;
  height: 80px;
}
.thumbnail .caption h6 {
  color: #47498e;
}
.thumbnail .caption h5 {
  font-size: 16px;
  line-height: 20px;
}
.thumbnail .caption h4 {
  font-weight: bold;
  letter-spacing: -0.8px;
}
.thumbnail img {
  width: 100%;
  border: 1px solid #eee;
}
.item-list a:hover img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;
}
.itemReg {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
}
.itemReg button {
  margin: 15px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 0.5s linear;
}
