section {
  padding-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

.hide {
  display: none;
}

/** 탭 박스의 기본 크기와 중앙 정렬 및 상하 여백 */
.tab {
  width: 100%;
  margin: 20px auto;
}

/** 개별 버튼에 대한 기본 크기와 가로 정렬 */
.tab-button-item {
  width: 50%;
  font-size: 1.5em;
}
.item_title h3 {
  color: #333;
}
/** 현재 활성 탭의 배경 이미지 별도 처리 */
.tab-button-item-link.selected {
  color: #31a05f;
  border-bottom-color: #31a05f;
  text-decoration: none;
  font-weight: bold;
}

/** 탭 버튼의 기본 배경 처리와 글자 형태 처리 */
.tab-button-item-link {
  display: block;
  color: #3a3a3a;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  border-bottom: 3px solid #f0f0f0;
}

.tab-panel {
  padding: 20px 10px;
}

.item-list {
  padding-right: 0px;
  padding-left: 0px;
}
.item-list > a {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.thumbnail {
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.thumbnail .caption {
  padding: 0;
  height: 80px;
}
.thumbnail .caption h4 {
  font-weight: bold;
  letter-spacing: -0.8px;
}
.thumbnail .caption h5 {
  font-size: 16px;
  line-height: 20px;
}
.thumbnail img {
  border: 1px solid #eee;
}
.item-list a:hover img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;
}
.item-list > a:hover,
.item-list > a:hover .caption {
  text-decoration: none;
  color: #31a05f;
  transition: 0.3s;
}
.item_title {
  padding: 3em 1em;
  box-shadow: 0 -5px 20px gray;
  z-index: 99;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  top: -10px;
  background-color: #fff;
}

.item_title > span {
  font-size: 0.9em;
  border: 1px solid #31a05f;
  color: #31a05f;
  margin-right: 5px;
}
#flag_this {
  margin-top: 2px;
  margin-right: 1.5em;
}
.glyphicon-flag:before {
  color: #aaa;
  font-size: 1.4em;
}
#like_this {
  font-size: 1.4em;
}
#like_this > .glyphicon-heart:before {
  margin-right: 0.2em;
}
.glyphicon-heart:before,
.glyphicon-heart-empty:before {
  color: #ff5937;
}

#tab-page-1 > .row {
  margin-bottom: 1em;
}

.info_desc {
  margin: 1.5em 0;
  padding: 1.5em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.info_etc > .row {
  margin-bottom: 0.5em;
}
.glyphicon-time::before,
.glyphicon-link::before,
.glyphicon-tag::before {
  color: #bbb;
}
.div_blank {
  background-color: #f0f0f0;
  height: 20px;
  margin: 0 -10px;
}
.div_blank1 {
  background-color: #f0f0f0;
  width: 100%;
  height: 20px;
  position: relative;
  top: -10px;
  z-index: 100;
}

.info_etc .row span {
  display: inline-block;
  margin: 0 0.5em;
  text-decoration: underline;
}

#reg_time {
  text-decoration: none;
}

#user_info {
  display: block;
}
.user_info {
  background-color: #e9f6ef;
  padding: 0.5em;
  margin: 30px -10px;
  height: 90px;
}

.user_info > a {
  margin-top: 15px;
}
.user_info_detail {
  margin-top: 15px;
  padding-left: 4.5em;
}

#user_id {
  font-weight: bold;
  font-size: 1.1em;
}

#user_lv {
  font-size: 1em;
  display: inline-block;
}

#user_star {
  display: inline-block;
  margin-left: 0.5em;
}

#user_star > img {
  width: 1em;
  height: 1em;
}

#user_string {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 0.5em;
}

#user_info_item {
  font-size: 1em;
  margin-top: -10px;
}

.control-label {
  color: #31a05f;
  font-size: 1.5em;
}

h3 {
  color: #31a05f;
}
.control-label > span {
  font-size: 0.6em;
  color: #ffad59;
}

#reply_submit {
  width: 10em;
}

.re_user_name {
  margin-top: 10px;
  font-weight: 900;
}

.media {
  margin: 0;
}
li.media {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}

li.media:first-child {
  border-top: 1px solid #f0f0f0;
}

div.media {
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
}

.re_user_name > small {
  display: inline-block;
  color: #ffad59;
  margin-left: 1em;
}

.re_user_rpl > p {
  display: inline-block;
}
.re_user_rpl > button {
  display: inline-block;
  height: 20px;
  font-size: 0.5em;
  padding: 0px 12px;
}

.reply_submit1 {
  height: 20px;
  font-size: 0.5em;
  padding: 0px 12px;
}

#anou {
  width: 100%;
  text-align: center;
  font-weight: 600;
  background-color: #fef4eb;
  padding: 15px;
}

.fixed-btn {
  width: 100%;
  padding: 15px 10px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.zzim > a {
  display: block;
  width: 51px;
  height: 51px;
  font-size: 2em;
  text-align: center;
  border: 4px solid #ff5937;
  border-radius: 50px;
  position: relative;
  margin: auto;
}

.zzim > a > i {
  display: block;
  margin-top: 9px;
  position: absolute;
  left: 7px;
  font-weight: bold;
}

.fixed-btn button {
  display: inline-block;
  width: 100%;
  height: 50px;
}

.fixed-btn > .col-xs-5 {
  padding-right: 0;
}

.cool {
  font-size: 0.9em;
}

.trade {
  font-size: 1.3em;
  margin-left: 0.25em;
}

.repl_form {
  display: none;
}

/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  display: none;
  z-index: 9999999;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
  width: 75%;
  position: fixed;
  top: 15%;
  left: 12%;
  display: none;
  z-index: 9999999;
  background-color: #fff;
  padding: 1em 2em;
}

.modal_name {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.modal_content .input-group {
  margin-top: 15px;
}

#to_user {
  color: #31a05f;
  display: inline;
  font-weight: bold;
  font-size: 2em;
}
textarea {
  width: 100%;
  resize: none;
}
.modal_content .modal_btn {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.modal_btn button {
  width: 30%;
  margin: 0 0.2em;
}

#singo_name {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-top;
  color: #31a05f;
}
select {
  margin-bottom: 10px;
}
