#user_profile > li {
  position: relative;
}
#user_profile button {
  position: absolute;
  top: 0;
  right: 0.5em;
}
#mystore > ul {
  border: 0;
  width: 100%;
}
#mystore > ul > li {
  margin-bottom: 0;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
}
#mystore > ul a {
  border: 0;
  border-bottom: 3px solid #f0f0f0;
  border-radius: 0;
  padding: 10px 0;
  margin: 0;
}
#mystore > ul .active a {
  border: 0;
  color: #31a05f;
  border-bottom: 3px solid #31a05f;
}
.tab {
  width: 100%;
}

/** 개별 버튼에 대한 기본 크기와 가로 정렬 */
.tab-button-item {
  width: 50%;
  font-size: 1.5em;
}
.item_title h3 {
  color: #333;
}
/** 현재 활성 탭의 배경 이미지 별도 처리 */
.tab-button-item-link.selected {
  color: #31a05f;
  border-bottom-color: #31a05f;
  text-decoration: none;
  font-weight: bold;
}

/** 탭 버튼의 기본 배경 처리와 글자 형태 처리 */
.tab-button-item-link {
  display: block;
  color: #3a3a3a;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  border-bottom: 3px solid #f0f0f0;
  padding-top: 4px;
}

#si_top {
  margin: 15px 5px 0;
}
#si_total {
  padding-top: 10px;
}
#si_ctg {
  width: 30%;
}
.itemList {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
.itemList img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.itemList .caption {
  display: inline-block;
  width: 65%;
  padding-left: 4%;
}

#searchbox1 {
  width: 75%;
}
#sbox_addon {
  border: 1px solid #ccc;
  border-right: 0;
  background-color: #fff;
}
#sbox_input {
  border-left: 0;
  height: 35px;
}
#sortList,
#sortThumb {
  height: 35px;
}
.item-row {
  margin: 15px 5px 0;
}

.item-row .btn-group .glyphicon {
  color: #555;
}
#item-select {
  display: inline-block;
  width: 120px;
}

.item-list {
  margin-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
.item-list > a {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.thumbnail {
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.thumbnail .caption {
  padding: 0;
  height: 80px;
}
.thumbnail .caption h5 {
  font-size: 16px;
  line-height: 20px;
}
.thumbnail .caption h4 {
  font-weight: bold;
  letter-spacing: -0.8px;
}
.thumbnail img {
  border: 1px solid #eee;
}
.item-list a:hover img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;
}

#myreview_subject {
  text-align: center;
}

#myreview_subject > h1 {
  font-weight: bold;
}

#myreview_subject img {
  height: 13px;
}

#myreview_subject span {
  font-size: 0.4em;
  margin-left: 1em;
  background-color: #ccc;
}

/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  display: none;
  z-index: 9999999;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
  width: 75%;
  position: fixed;
  top: 15%;
  left: 12%;
  display: none;
  z-index: 9999999;
  background-color: #fff;
  padding: 1em 2em;
}

.modal_name {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.modal_content .input-group {
  margin-top: 15px;
}

#to_user {
  color: #31a05f;
  display: inline;
  font-weight: bold;
  font-size: 2em;
}
textarea {
  width: 100%;
  resize: none;
}
.modal_content .modal_btn {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.modal_btn button {
  width: 30%;
  margin: 0 0.2em;
}
