body {
  padding-bottom: 0;
}
.form-horizontal .form-group {
  margin-right: -10px;
  margin-left: -10px;
}
#anou {
  width: 100%;
  text-align: center;
  font-weight: 600;
  background-color: #fef4eb;
  padding: 15px;
}

#order {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.order_name {
  font-weight: bold;
  font-size: 2em;
  color: #31a05f;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 40px;
}

#order_cont > .order_name {
  margin-top: 0;
}

.media-body {
  padding-left: 0.5em;
}

#item_name {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
}

#item_price {
  font-size: 1.8em;
  font-weight: bold;
}

#order_adr label {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
}

.btn-danger {
  width: 14%;
}

#how_pay label {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 1em;
}

#how_pay input {
  margin-top: 9px;
}

#how_pay_anou {
  width: 100%;
  background-color: #f0f0f0;
  padding: 1.5em;
  border-radius: 5px;
}

#how_pay_anou h3 {
  color: #ff880a;
  margin-top: 5px;
}

#how_pay_anou p {
  margin-bottom: 5px;
}

table {
  width: 100%;
}

#final > table {
  margin-bottom: 15px;
}

.price_cont {
  text-align: left;
  font-size: 1.4em;
  line-height: 2em;
}

.price_won {
  text-align: right;
  font-size: 1.4em;
  line-height: 2em;
}

#final_price {
  width: 99%;
  background-color: #f0f0f0;
  margin: auto;
  padding: 0.5em 1em;
}
#final_price .price_cont {
  font-weight: bold;
  font-weight: 1.2em;
}
#final_price .price_won {
  font-size: 2em;
  font-weight: bold;
}

.checkbox a {
  text-decoration: underline;
  color: #ff880a;
}

#final button {
  height: 50px;
  font-size: 1.5em;
  margin-top: 80px;
  margin-bottom: 30px;
}

/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.6;
  display: none;
  z-index: 9999999;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
  /* 요소의 좌측상단 꼭지점이 화면 중앙에 위치하게 된다. */
  width: 75%;
  height: 75%;
  position: fixed;
  top: 12%;
  left: 12%;
  padding: 20px;
  display: none;
  z-index: 9999999;
  background-color: #ccc;
}

#refund_policy,
#pay_warning {
  background-color: #fff;
  overflow: scroll;
}
/* 주소창 css */
#ipostcode {
  width: 49%;
  display: inline-block;
  margin-bottom: 0.5em;
}
#find_pc {
  display: inline-block;
  margin-bottom: 0.5em;
}
#iroadAddress,
#iextraAddress {
  width: 49%;
  display: inline-block;
  margin-bottom: 0.5em;
}
#ijibunAddress,
#idetailAddress {
  width: 49%;
  display: inline-block;
  margin-bottom: 0.5em;
}
