a:hover {
  text-decoration: none;
}
#msgbox_subject {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

#msgbox_desc {
  text-align: center;
  color: #ff8e19;
}
ul#msg_tabs {
  border: 0;
  width: 100%;
  margin-top: 20px;
}
ul#msg_tabs > li {
  margin-bottom: 0;
  width: 33.333333333%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
}
ul#msg_tabs a {
  border: 0;
  border-bottom: 3px solid #f0f0f0;
  border-radius: 0;
  padding: 10px 0;
  margin: 0;
}
ul#msg_tabs .active a {
  border: 0;
  color: #31a05f;
  border-bottom: 3px solid #31a05f;
}

#msgbox_index {
  margin-top: 15px;
}
table#msgbox_table {
  width: 100%;
}

#msgbox_table div {
  display: inline-block;
}
.msgbox_num {
  width: 5%;
  text-align: left;
  padding: 1em 0;
}
.msgbox_subject {
  width: 80%;
  font-size: 1em;
  padding: 1em;
}
.user_id {
  display: inline-block;
  color: #31a05f;
  vertical-align: text-top;
}

.msg_cont {
  vertical-align: text-top;
  display: inline-block;
  color: #ff8e19;
}

.msg_date {
  width: 15%;
  font-size: 0.7em;
  color: #aaa;
  text-align: center;
  vertical-align: middle;
}

.msgbox_content {
  background-color: #f0f0f0;
  display: none;
}

.msgbox_content > td {
  padding: 0.5em 2em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.clk_tr {
  display: block;
}
.msg_btn_list {
  display: inline-block;
  width: 20%;
  height: 2em;
  text-align: center;
  margin: 0.5em;
  color: #fff;
  border-radius: 30px;
  padding-top: 0.2em;
}

.delete {
  background-color: #ffad59;
}

.reply {
  background-color: #31a05f;
}

.store {
  background-color: #8994aa;
}

/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  display: none;
  z-index: 9999999;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
  /* 요소의 좌측상단 꼭지점이 화면 중앙에 위치하게 된다. */
  width: 75%;
  position: fixed;
  top: 15%;
  left: 12%;
  display: none;
  z-index: 9999999;
  background-color: #fff;
  padding: 1em 2em;
}
#modal_name {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}
#modal_content .input-group {
  margin-top: 15px;
}

#to_user {
  color: #31a05f;
  display: inline;
  font-weight: bold;
  font-size: 2em;
}
textarea {
  width: 100%;
  resize: none;
}
#modal_content .modal_btn {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.modal_btn button {
  width: 30%;
  margin: 0 0.2em;
}
