@charset "utf-8";
body {
  padding-bottom: 50px;
}

header {
  height: auto;
}
ul {
  list-style: none;
}
.navbar-inverse {
  margin-top: 40px;
  background-color: white;
}

.navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #3a3a3a !important;
  background-color: transparent;
  font-weight: 900;
  font-size: 15px;
}

.navbar-nav > li > a {
  text-align: center;
}

#nav_bar_menu {
  width: 100%;
}

.nav_menu {
  width: 20%;
}

#nav_bar_menu_a {
  width: 100%;
}

.title-menu {
  width: 100%;
  margin-bottom: 10px;
}
.form-control {
  width: 11%;
  float: right;
}
.form-control:nth-child(1) {
  margin-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  display: inline-block;
  font-weight: 900;
  margin: 0;
  font-size: 1.4em;
}

h4,
h6 {
  display: inline-block;
}
h4 {
  font-size: 14px;
  margin-left: 200px;
  margin-right: 5px;
  font-weight: 900;
}

.div_body > ul {
  width: 100%;
}
.home_ul > li {
  display: inline-block;
  width: 24%;
  height: 300px;
  border: 1px solid #aeaeae;
}
.home_ul > li > a {
  display: block;
  width: 100%;
}

.home_ul > li > a > span {
  display: block;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  line-height: 300px;
}
.home_ul > li > span {
  display: block;
  text-align: center;
}

address {
  text-align: center;
  font-size: 15px;
  height: 100%;
  margin-top: 20px;
}

.btn-sm {
  position: absolute;
  left: 200px;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

input[type="checkbox"] {
  zoom: 1.1;
}
th {
  font-size: 1em;
}

td {
  font-size: 1em;
}
#search_btn {
  width: 80%;
}
/* hover 이벤트 */
.sub-menu {
  position: absolute;
  background: #f0f0f0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.sub-menu {
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
.sub-menu > li {
  width: 100%;
}

.sub-menu > li > a {
  display: block;
  height: 50px;
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  font-size: 1em;
  padding-top: 12px;
}

#nav_bar_menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  background-color: #73af86;
  z-index: 10;
}

.sub-menu > li > a:hover {
  background: #31a05f;
  border-radius: 10px;
}
/* ----------------------------------------------------- */

/* ---------------로고수정------ */
.table > thead > tr > th:nth-child(1) {
  width: 2%;
  text-align: left;
}

.table > thead > tr > th:nth-child(2) {
  width: 5%;
}

.table > thead > tr > th:nth-child(3) {
  width: 12%;
}
.table > thead > tr > th:nth-child(4) {
  width: 10%;
}
.table > thead > tr > th:nth-child(5) {
  width: 6%;
}
.table > thead > tr > th:nth-child(6) {
  width: 10%;
}
.table > thead > tr > th:nth-child(7) {
  width: 6%;
}
.table > thead > tr > th:nth-child(8) {
  width: 10%;
}
.table > thead > tr > th:nth-child(9) {
  width: 6%;
}
.table > thead > tr > th:nth-child(10) {
  width: 6%;
}

.table > tbody > tr > td:nth-child(10) {
  padding: 2px;
}
.table > tbody + tbody {
  border-top: none;
}
.btn-danger {
  margin-top: 4px;
  height: 30%;
  width: 80%;
  font-size: 1em;
}

.text-center {
  vertical-align: middle !important;
}
