<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>관리자페이지</title>
    <!-- 모바일 웹 페이지 설정 -->
    <link rel="shortcut icon" href="assets/ico/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-144-precomposed.png" />
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <!-- 나눔고딕 웹 폰트 적용 -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_adm.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/header&footer_adm.css" />
 <!-- 반응형 웹을 지원하지 않을 경우 -->
    <!-- <link rel="stylesheet" href="assets/css/non-responsive.css" /> -->
    <!-- IE8 이하 버전 지원 -->
    <!--[if lt IE 9]>
<script type="text/javascript" src="assets/js/html5shiv.js"></script>
<script type="text/javascript" src="assets/js/respond.min.js"></script>
<![endif]-->
    <!-- IE10 반응형 웹 버그 보완 -->
    <!--[if gt IE 9]>
<link rel="stylesheet" type="text/css" href="assets/css/ie10.css" />
<script type="text/javascript" src="assets/js/ie10.js"></script>
<![endif]-->
</head>

<body>
    <header>
        <div class="container">
            <div class="logo ">
        
                <a class="logo_img_a" href="item_index.html"><img src="img/logo.png" /></a>
                <button id="log-out"class="btn btn-default log_out" type="submit">로그아웃</button>
                <a class="nav_top_a btn-primary" href="index.html">User_Page  <span class="logo_right glyphicon glyphicon-user"></span></a>
        
            </div>
            </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
    
                <div class="collapse navbar-collapse">
                    <ul id="nav_bar_menu" class="nav navbar-nav">
    
                        <li class="nav_menu">
                            <a href="home_adm.html">Home</a>
                        </li>
                        <li class="nav_menu">
                            <a class="nav_menu_a" href="order_adm.html">주문관리</a>
                        </li>
                        <li class="nav_menu">
                            <a class="nav_menu_a" href="board_adm.html">게시판관리</a>
                            <ul class="sub-menu">
                                <li><a href="board_adm.html">공지사항</a></li>
                                <li><a href="event_adm.html">이벤트게시판</a></li>
                                <li><a href="question_adm.html">일반문의</a></li>
                                <li><a href="faq_adm.html">자주묻는질문</a></li>
                                <li><a href="policy_adm.html">운영정책</a></li>
                            </ul>
                        </li>
                        <li class="nav_menu">
                            <a class="nav_menu_a" href="member_adm.html">회원관리</a>
                            <ul class="sub-menu">
                                <li><a href="member_adm.html">회원정보조회</a></li>
                                <li><a href="outmember_adm.html">탈퇴회원관리</a></li>
                            </ul>
                        </li>
                        <li class="nav_menu">
                            <a class="nav_menu_a" href="product_adm.html">상품관리</a>
                            <ul class="sub-menu">
                                <li><a href="product_adm.html">상품목록</a></li>
                                <li><a href="category_adm.html">상품분류</a></li>
                                <li><a href="display_adm.html">상품진열</a></li>
                                <li><a href="singo_adm.html">신고상품</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </header>
        <div class="body_height">
        <div class="container">
        <h4>마켓현황</h4><h5 id="today"></h5>
        <h6 id="today-time"></h6>
        <ul class="home_ul text-center">
            <li class="home_li">
                <a href="order_adm.html">
                    <span>123,456건</span>
                </a>
                <span>총 거래건수(일주일 기준)</span>
            </li>
            <li class="home_li">
                <a href="order_adm.html">
                    <span>9,999,999원</span>
                </a>
                <span>총 거래액(일주일 기준)</span>
            </li>
            <li class="home_li">
                <a href="product_adm.html">
                    <span>123,456개</span>
                </a>
                <span>상품등록수</span>
            </li> 
            <li class="home_li">
                <a href="member_adm.html">
                    <span>23,456명</span>
                </a>
                <span>전체 회원수</span>
            </li>                                   
        </ul>
        <div id="chart">
        <div id="transaction_qty" style="width:500px;height:400px;"></div>
        <div id="new_member" style="width:500px;height:400px;"></div>
        </div>
    </div>
</div>



        <!--/row-->
        <hr>
        <footer class="footer">

                <!-- <a href="#" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-triangle-left"></span> 이전
                  </a>
                  <a href="#" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-triangle-right"></span> 다음
                  </a> -->

            <address>
                <strong>&copy; (주)사이다마켓.All right reserved</strong><br>
            </address>
        </footer>

    <!--/.container-->
    <!-- Javascript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/asidebar.jquery.js"></script>
    <script src="assets/js/searchbox.js"></script>
    <script src="plugins/sweetalert/sweetalert2.all.min.js"></script>
    <!-- ajax-helper -->
    <link rel="stylesheet" href="plugins/ajax/ajax_helper.css" />
    <script src="plugins/ajax/ajax_helper.js"></script>
    <script src="plugins/validate/jquery.validate.min.js"></script>
    <script src="plugins/validate/additional-methods.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".board_left").load("board_adm_left.html");



            // 추가기능------------------------------------------------------------
         //필터 


        // 로그아웃
        $("#log-out").click(function(e){
                var result = confirm("로그아웃 하시겠습니까?");

                if(result ==true) {
                    location.replace('login_adm.html'); 
                }else{

                }
            });
      $("#delete").click(function () {
        swal({ 
          title: '확인',
          text: "정말 삭제 하시겠습니까?" ,
          type:'warning', //종류
          confirmButtonText:'네', //확인버튼 표시문구
          showCancelButton:true, //취소버튼 표시여부
          cancelButtonText:'아니오', //취소버튼 표시문구 
        });
        // .then(function(result){
        //   if(result.value) {   //확인버튼이 눌러진 경우 
        //     swal('로그아웃', '로그아웃 되었습니다.', 'success');
        //   } else if(result.dismiss==='cancel') {  //취소버튼 눌러진경우 
        //     swal('취소', '취소하였습니다.', 'error');
        //   }
        // });
      });

    //   전체선택
      $("#all-check").change(function(){
          $(".board").prop('checked',$(this).prop('checked'));
      });

    //   오늘날짜 대입
    




function todayTime() {
    var todayTime = new Date();
    var dd = todayTime.getDate();
    var mm = todayTime.getMonth()+1; // Jan is 0
    var yyyy = todayTime.getFullYear();
    var hh =todayTime.getHours();
    var mi =todayTime.getMinutes();

    if(dd<10){
        dd = '0'+dd
    }
    if(mm<10){
        mm = '0'+mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    todayTime = "("+hh+"시"+mi+"분"+"기준"+")" ;
    //alert(today);
    document.getElementById("today").innerHTML = today;
    document.getElementById("today-time").innerHTML = todayTime;
    //$('#date').text(today);
} 

todayTime();

    });
    </script>

    <!-- 구글차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['date', 'qty'],
          ['2020-12-21', 1201],
          ['2020-12-22', 850],
          ['2020-12-23', 991],
          ['2020-12-24', 300],
          ['2020-12-25', 750],
          ['2020-12-26', 750],
          ['2020-12-27',800]


        ]);

        var options = {
          chart: {
            title: '일주일간 거래건수'
          }
        };

        var chart = new google.charts.Bar(document.getElementById('transaction_qty'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
              ['Date', 'Qty', { role: 'style' }],
                ['2020-12-21', 85 ,'#31a05f'],
                ['2020-12-22', 58,'#31a05f'],
                ['2020-12-23', 30,'#31a05f'],
                ['2020-12-24', 200,'#31a05f'],
                ['2020-12-25', 26,'#31a05f'],
                ['2020-12-26', 180,'#31a05f'],
                ['2020-12-27',100,'#31a05f']
      
      
              ]);
      
              var options = {
                chart: {
                  title: '일주일간 회원가입'
                }
              };
      
              var chart = new google.charts.Bar(document.getElementById('new_member'));
      
              chart.draw(data, google.charts.Bar.convertOptions(options));
            }
          </script>

</body>
</html>