@charset "utf-8";

/* --------테이블------------ */
.table {
	border: 1px solid #ccc;
}

.table > thead > tr > th {
  background-color: #f0f0f0;
  border-bottom: none;
}

td {
  width: 25%;
  display:block;
  float: left;
}
thead {
  width: 100%;
}

.table td:hover {
  background-color: #1dd1a1;
}
/* ---------------------------------------- */
.list-group {
  margin-top: 0px;
}
.list-group > p {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}
.list-group-item {
  padding: 0;
  text-align: center;
}
.list-group-item > p {
  margin: 0;
  padding: 10px;
}

.regi_cancel {
  display: inline-block;
  margin-bottom: -12px;
  margin-left: 0px;
}
.regi_cancel > button {
  float: right;
  margin: 2px;
}

.form-inline {
  display: inline-block;
}
/* ---------------- 이미지 첨부 관련 -------------- */
.image_plus {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("/cidermarket/upload/camera.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999999px;
}

.item-img {
  display: inline-block;
  width: 38px;
  padding: 0.3em;
  position: relative;
  border: 2px solid #999;
  border-radius: 5px;
}
.item-img:before {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  color: #999;
}
.item-img:after {
  content: "";
  display: block;
}
.remove_img {
  display: none;
  position: absolute;
  z-index: 3;
  font-weight: bold;
  right: -7px;
  top: -10px;
}
/* ---------------------------------------- */
#addForm {
	position: relative;
	float:left;
	width: 100%;
	margin:0px;
	height:50px;
	
}
#addForm h4 {
	display: block;
	font-size: 16px;
	margin-bottom: 15px;
}

#add_input {
	height:38px;
	margin: 0 10px;
}

#delete1 {
	margin-left:2px;
}

.cate_td img {
	width: 26px;
	height: 26px;
}
.btn-primary, .btn-warning {
    padding: 8px 15px;
    vertical-align: top;
}

