@charset "utf-8";
body {
  padding-bottom: 50px;
}

header {
  height: auto;
}
ul {
  list-style: none;
}

/* 네비게이션 */
div.navbar-default {
	background-color: #4e5d6c;
}

.navbar-default .navbar-nav > li > a {
  text-align: center;
  color: #eee;
  font-size: 16px;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  font-weight: 900;
  font-size: 1.1em;
  transition: all .3 ease;
  color: #fff;
}

.logo {
  position: relative;
  height: 150px;
}

.logo_img_a {
  display: block;
  width: 120px;
  position: absolute;
  top: 20px;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

#log-out-btn {
  margin-right: 30px;
  margin-left: 20px;
}
.logo_right {
  display: block;
  font-size: 18px;
}

#nav_bar_menu {
  width: 100%;
}

.nav_menu {
  width: 20%;
}

#nav_bar_menu_a {
  width: 100%;
}

/* 서브메뉴 hover 이벤트 */
.sub-menu {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
.sub-menu > li {
  width: 100%;
}

.sub-menu > li > a {
  display: block;
  height: 50px;
  color: #555;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 1em;
  padding-top: 12px;
}

#nav_bar_menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.sub-menu > li > a:hover {
  background: rgba(78, 93, 108, 0.1);
  font-weight: 900;
}
/* ----------------------------------------------------- */

.title-menu {
  width: 100%;
  margin-bottom: 10px;
}
.form-control {
  width: 13%;
  float: right;
}
.form-control:nth-child(1) {
  margin-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  display: inline-block;
  font-weight: 900;
  margin: 0;
}

h4,
h6 {
  display: inline-block;
}
h4 {
  margin-right: 5px;
  font-weight: 900;
}

.div_body > ul {
  width: 100%;
}
.home_ul > li {
  display: inline-block;
  width: 24%;
  height: 300px;
  border: 1px solid #aeaeae;
}
.home_ul > li > a {
  display: block;
  width: 100%;
}

.home_ul > li > a > span {
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  line-height: 300px;
}
.home_ul > li > span {
  display: block;
  text-align: center;
}



address {
  text-align: center;
  font-size: 1em;
  height: 100%;
  margin: 10px 0 10px 0;
}

.footer > a {
  position: relative;
}
.btn-sm {
  position: absolute;
  left: 200px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #f0f0f0;
  z-index: 100;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------로고수정, 버튼수정------ */
.log_out {
  position: absolute;
  right: 0px;
  top: 34px;
  vertical-align: middle;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

.logo_right {
  display: inline-block;
  font-size: 0.9em;
}
.nav_top_a {
  margin-top: 34px;
  margin-right: 92px;
  float: right;
}
.logo {
  position: relative;
  height: 100px;
}
.glyphicon-user {
  font-size: 14px;
}
/* ---------------로고수정------ */
