@charset "utf-8";
body {
  padding-bottom: 50px;
}

header {
  height: auto;
}
ul {
  list-style: none;
}

/* 네비게이션 */
.navbar-nav {
	margin: 0;
}
div.navbar-default {
	background-color: #4e5d6c;
}

.navbar-default .navbar-nav > li > a {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #1dd1a1;	
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  font-weight: 900;
  font-size: 1.1em;
  transition: all .3 ease;
  color: #fff;
  background-color: #3a4a5a;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #eee;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #3a4a5a;
}
.dropdown-menu > li > a {
	line-height: 2;
	text-align: center;
	padding: 5px 0;
	color: #fff;
}
.dropdown-menu {
	left: 15px;
}
.logo {
  position: relative;
  height: 150px;
}

.logo_img_a {
  display: block;
  width: 120px;
  position: absolute;
  top: 20px;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

#log-out-btn {
  margin-right: 30px;
  margin-left: 20px;
}
.logo_right {
  display: block;
  font-size: 18px;
}

#nav_bar_menu {
  width: 100%;
}

.nav_bar_menu_a {
  width: 90%;
  background-color: #3a4a5a;
}
/* ----------------------------------------------------- */

.title-menu {
  width: 100%;
  margin-bottom: 10px;
}
.form-control {
  width: 13%;
  float: right;
  margin-left: 10px;
}
.form-control:nth-child(1) {
  margin-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  display: inline-block;
  font-weight: 900;
  margin: 0;
}

h4,
h6 {
  display: inline-block;
}
h4 {
  margin-right: 5px;
  font-weight: 900;
}

.home_ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-items: center;
}
.home_ul > li {
  flex-basis: 23%;
  margin: 1%;
  padding: 50px 0;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.home_ul > li:hover {
	background-color: #1dd1a1;
	transform: scale(1.02);
}
.home_ul > li:hover a strong {
	color: #fff;	
}
.home_ul > li strong {
	font-size: 18px;
	color: #31a05f;
}


address {
  text-align: center;
  font-size: 1em;
  height: 100%;
  margin: 10px 0 10px 0;
}

.footer > a {
  position: relative;
}
.btn-sm {
  position: absolute;
  left: 200px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #f0f0f0;
  z-index: 100;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------로고수정, 버튼수정------ */
.log_out {
  position: absolute;
  right: 0px;
  top: 34px;
  vertical-align: middle;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

.logo_right {
  display: inline-block;
  font-size: 0.9em;
}
.nav_top_a {
  margin-top: 34px;
  margin-right: 92px;
  float: right;
}
.logo {
  position: relative;
  height: 100px;
}
.glyphicon-user {
  font-size: 14px;
}
/* ---------------로고수정------ */

.product-left-nav a span {
	display: block;
	margin: 0;
	padding: 10px;
}
.searchInput {
	margin-left: 0;
}
.info-white {
  background-color: #fff;
  color: #666;
  border: 1px solid #ccc;
}

