@charset "utf-8";

.market_title span {
  font-size: 14px;
  color: #31a05f;
}

#transaction_qty {
  margin-top: 50px;
  margin-left: 50px;
}

#chart {
  position: relative;
}
#new_member {
  position: absolute;
  top: 0;
  right: 0px;
}
