@charset "utf-8";
/* ----------공지사항 읽기 타이틀 및 본문------------ */
.title_read {
  position: relative;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 1px;
}
.title_read small {
  float: right;
  position: relative;
  font-size: 12px;
  top: 13px;
}
.content_body {
  padding: 0 30px;
  min-height: 400px;
  font-size: 1.1em;
  white-space: normal;
}
.first_img img {
  margin-bottom: 30px;
  width: 100%;
}
/* ----------------------------------------- */
