@charset "utf-8";

input[type="checkbox"] {
  zoom: 1.1;
}
th {
  font-size: 1em;
}

td {
  font-size: 1em;
}
#search_btn {
  width: 80%;
}


/* ---------------로고수정------ */
.table > thead > tr > th:nth-child(1) {
  width: 3%;
  text-align: left;
}

.table > thead > tr > th:nth-child(2) {
  width: 5%;
}

.table > thead > tr > th:nth-child(3) {
  width: 12%;
}
.table > thead > tr > th:nth-child(4) {
  width: 10%;
}
.table > thead > tr > th:nth-child(5) {
  width: 15%;
}
.table > thead > tr > th:nth-child(6) {
  width: 10%;
}
.table > thead > tr > th:nth-child(7) {
  width: 6%;
}
.table > thead > tr > th:nth-child(8) {
  width: 10%;
}
.table > thead > tr > th:nth-child(9) {
  width: 6%;
}
.table > thead > tr > th:nth-child(10) {
  width: 6%;
}

.table > tbody > tr > td:nth-child(10) {
  padding: 2px;
}
.table > tbody + tbody {
  border-top: none;
}


.text-center {
  vertical-align: middle !important;
}



