@charset "utf-8";

/* ----------------------------------------------------- */
.table > thead > tr > th:nth-child(1) {
  width: 1%;
}

.table > thead > tr > th:nth-child(2) {
  width: 6%;
}

.table > thead > tr > th:nth-child(3) {
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table > thead > tr > th:nth-child(4) {
  width: 16%;
}
.table > thead > tr > th:nth-child(5) {
  width: 15%;
}
.table > thead > tr > th:nth-child(6) {
  width: 8%;
}
.table > thead > tr > th:nth-child(7) {
  width: 18%;
}
.table > thead > tr > th:nth-child(8) {
  width: 6%;
}

.table > tbody > tr > td:nth-child(3) {
  text-align: left;
}
.table {
  border-bottom: 2px solid #ddd;
}
.list-group {
  margin-top: 0px;
}
.list-group > p {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}
.list-group-item {
  padding: 0;
  text-align: center;
}
.list-group-item > p {
  margin: 0;
  padding: 10px;
}


#stop,
#re-start,
#delete {
  float: right;
  margin: 10px 0 0 10px;
}
.table > tbody + tbody {
  border-top: none;
}