@charset "utf-8";



input[type="checkbox"] {
  zoom: 1;
}
th {
  font-size: 1.1em;
}
#search_btn {
  width: 80%;
}

.table > thead > tr > th:nth-child(1) {
  width: 2%;
  text-align: left;
}

.table > thead > tr > th:nth-child(2) {
  width: 5%;
}

.table > thead > tr > th:nth-child(3) {
  width: 25%;
}
.table > thead > tr > th:nth-child(4) {
  width: 7%;
}
.table > thead > tr > th:nth-child(5) {
  width: 7%;
}
.table > thead > tr > th:nth-child(6) {
  width: 7%;
}
.table > thead > tr > th:nth-child(7) {
  width: 7%;
}

.input-group .form-control {
	width: 80%;
	display: inline-block;
}

#delete {
	display: inline-block;
	margin-left: 5px;
}
.result {
	color: red;
}
.list-group-item {
    padding: 0;
    text-align: center;
}
.list-group-item > p {
    margin: 0;
    padding: 10px;
}