@charset "utf-8";

/* ----------공지사항 읽기 타이틀 및 본문------------ */

.title_read {
  position: relative;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 1px;
}
.title_read small {
  float: right;
  position: relative;
  font-size: 12px;
  top: 13px;
}
.content_body {
  padding: 0 30px 30px;
  min-height: 400px;
  font-size: 1.1em;
  white-space: normal;
}
.first_img img {
  margin-bottom: 30px;
  width: 100%;
}

.row1 {
	border-bottom: 1px solid #eee;
	margin: 0 30px 30px;
}
.reply_info {
  padding: 0 0 10px;
  text-align: left;
  color: #999;
  line-height: 1em;
}
.reply_info > span {
  display: block;
  padding-bottom: 8px;
}
#content,
#content_re {
  width: 100%;
  margin-bottom: 10px;
}
.panel.panel-danger {
	display: inline-block;
	width: 100%;
}
.list-group-item {
    padding: 0;
    text-align: center;
}
.list-group-item > p {
    margin: 0;
    padding: 10px;
}
.list-group > p {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}
.reply-gray {
	color: #ccc;
}