@charset "utf-8";

/* ----------------------------------------------------- */
.table {
	border-bottom: 2px solid #ddd;
	table-layout: fixed
}
.singo_content{
	background-color:#f5f5f5;
	display:none;
}
.table > thead > tr > th:nth-child(1) {
  width: 2%;
  text-align: left;
}

.table > thead > tr > th:nth-child(2) {
  width: 5%;
}
.table > thead > tr > th:nth-child(3) {
  width: 8%;
}

.table > thead > tr > th:nth-child(4) {
  width: 35%;
}
.table > thead > tr > th:nth-child(5) {
  width: 11%;
}
.table > thead > tr > th:nth-child(6) {
  width: 19%;
}
.table > thead > tr > th:nth-child(7) {
  width: 10%;
}
.table > thead > tr > th:nth-child(8) {
  width: 10%;
}
.table > tbody > tr > td:nth-child(4) {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table > tbody > tr > td:nth-child(5) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-group {
  margin-top: 0px;
}
.list-group > p {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}
.list-group-item {
  padding: 0;
  text-align: center;
}
.list-group-item > p {
  margin: 0;
  padding: 10px;
}

#align-order{
	width:16%;	
}

#align-menu{
	width:23%;
}


#stop,
#re-start,
#delete {
  float: right;
  margin: 10px 0 0 5px;
}

.input-group-addon, .input-group-btn {
	vertical-align: top;
}