@charset "utf-8";
body {
  padding-bottom: 50px;
}

header {
  height: auto;
}
ul {
  list-style: none;
}
.navbar-inverse {
  margin-top: 40px;
  background-color: white;
}

.navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #3a3a3a !important;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.2em;
}

.navbar-nav > li > a {
  text-align: center;
}

.logo {
  position: relative;
  height: 150px;
}

.logo_img_a {
  display: block;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 100x;
  top: 50px;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

.nav_top_a {
  display: block;
  float: right;
  margin-top: 80px;
  font-size: 18px;
}

#log-out-btn {
  margin-right: 30px;
  margin-left: 20px;
}
.logo_right {
  display: block;
  font-size: 18px;
}

#nav_bar_menu {
  width: 100%;
}

.nav_menu {
  width: 20%;
}

#nav_bar_menu_a {
  width: 100%;
}

.title-menu {
  width: 100%;
  margin-bottom: 10px;
}
.form-control {
  width: 13%;
  float: right;
}
.form-control:nth-child(1) {
  margin-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  display: inline-block;
  font-weight: 900;
  margin: 0;
}

h4,
h6 {
  display: inline-block;
}
h4 {
  margin-right: 5px;
  font-weight: 900;
}

.div_body > ul {
  width: 100%;
}
.home_ul > li {
  display: inline-block;
  width: 24%;
  height: 300px;
  border: 1px solid #aeaeae;
}
.home_ul > li > a {
  display: block;
  width: 100%;
}

.home_ul > li > a > span {
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  line-height: 300px;
}
.home_ul > li > span {
  display: block;
  text-align: center;
}

address {
  text-align: center;
  font-size: 1.2em;
  height: 100%;
  margin-top: 20px;
}

.footer > a {
  position: relative;
}
.btn-sm {
  position: absolute;
  left: 200px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #f0f0f0;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

input[type="checkbox"] {
  zoom: 1;
}
th {
  font-size: 1.1em;
}
#search_btn {
  width: 60%;
}
/* hover 이벤트 */
.sub-menu {
  position: absolute;
  background: #f0f0f0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.sub-menu {
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
.sub-menu > li {
  width: 100%;
}

.sub-menu > li > a {
  display: block;
  height: 50px;
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  font-size: 1em;
  padding-top: 12px;
}

#nav_bar_menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  background-color: #73af86;
  z-index: 10;
}

.sub-menu > li > a:hover {
  background: #31a05f;
  border-radius: 10px;
}
/* ----------------------------------------------------- */
.table {
	border-bottom: 2px solid #ddd;
	table-layout: fixed
}
.singo_content{
	background-color:#f5f5f5;
	display:none;
}
.table > thead > tr > th:nth-child(1) {
  width: 2%;
  text-align: left;
}

.table > thead > tr > th:nth-child(2) {
  width: 8%;
}

.table > thead > tr > th:nth-child(3) {
  width: 40%;
}
.table > thead > tr > th:nth-child(4) {
  width: 11%;
}
.table > thead > tr > th:nth-child(5) {
  width: 19%;
}
.table > thead > tr > th:nth-child(6) {
  width: 10%;
}
.table > thead > tr > th:nth-child(6) {
  width: 10%;
}
.table > tbody > tr > td:nth-child(3) {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table > tbody > tr > td:nth-child(4) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-group {
  margin-top: 0px;
}
.list-group > p {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}
.list-group-item {
  padding: 0;
  text-align: center;
}
.list-group-item > p {
  margin: 0;
  padding: 10px;
}

#align-order{
width:16%;	
}

#align-menu{
	width:23%;
}
/* ---------------로고수정, 버튼수정------ */
.logo_img_a {
  display: block;
  width: 150px;
  height: 100px;
  position: absolute;
  left: 80px;
  top: 20px;
}
.log_out {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

.logo_right {
  display: inline-block;
  font-size: 0.9em;
}
.nav_top_a {
  display: inline-block;
  margin-top: 66px;
  font-size: 1.2em;
  margin-right: 85px;
  border: #aeaeae 1px solid;
  border-radius: 5px;
  padding: 4px;
}
.logo {
  position: relative;
  height: 100px;
}

/* ---------------로고수정------ */

#stop,
#re-start,
#delete {
  float: right;
  margin-right: 5px;
}
.table > tbody + tbody {
  border-top: none;
}
